<section class="sc">
  <div class="container">
    <div class="content fl fl-w g-30">
      <div class="item fl fl-dc g-15">
        <div class="icon badge t-gr cl-g-pink-3 fw-9">2x</div>
        <h3 class="title t-u fw-9 fl fl-dc">
          faster than a <span class="op-7">typical agency</span>
        </h3>
        <p class="text fw-7 op-7">
          A simple, working prototype in 5–7 days – fast enough to test, pitch
          and decide.
        </p>
      </div>
      <div class="item fl fl-dc g-15">
        <ui-icon
          class="icon"
          name="routeLine"
          size="var(--icon-size)"
          gradient="#A8FFA7,#EBF7AD"
        />
        <h3 class="title t-u fw-9 fl fl-dc">
          From idea to a <span class="op-7">clear product</span>
        </h3>
        <p class="text fw-7 op-7">
          We help you turn a rough idea into a clear product structure — what
          users see, what they click, and how everything works together.
        </p>
      </div>
      <div class="item fl fl-dc g-15">
        <ui-icon
          class="icon"
          name="shieldCheckLine"
          size="var(--icon-size)"
          gradient="#ADF7F1,#B2A7FF"
        />
        <h3 class="title t-u fw-9 fl fl-dc">
          Less risk, <span class="op-7"> fewer surprises</span>
        </h3>
        <p class="text fw-7 op-7">
          Fixed pricing, clear scope and milestone demos — you always know what
          you’re paying for and what you’ll get.
        </p>
      </div>
    </div>
  </div>
</section>
