@use "../../../../../styles/mixins/mixins.scss" as mx;

.content {
  @include mx.b(desktop) {
    gap: 15px;
  }

  @include mx.b(mobile) {
    display: flex;
    flex-direction: column;
  }
}

.item {
  flex: 1 1 30%;
  min-width: 240px;

  padding: 50px 30px 100px 30px;

  border-radius: 20px;
  background-color: #171721;

  @include mx.b(desktop) {
    gap: 10px;
    padding: 30px 20px 60px 20px;
  }

  @include mx.b(mobile) {
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-template-areas:
      "icon title"
      "text text";

    padding: 30px;
    border-radius: 10px;
  }
}

.badge {
  font-size: 58px;
  line-height: 1.207;

  @include mx.b(mobile) {
    font-size: clamp(36px, 9.1vw, 50px);
  }
}

.icon {
  --icon-size: 70px;

  @include mx.b(mobile) {
    --icon-size: clamp(45px, 10vw, 55px);
    grid-area: icon;
  }
}

.title {
  font-size: 30px;

  @include mx.b(desktop) {
    font-size: 21px;
  }

  @include mx.b(mobile) {
    grid-area: title;
    font-size: clamp(20px, 4.5vw, 24px);
  }
}

.text {
  font-size: 18px;

  @include mx.b(desktop) {
    font-size: 14px;
  }

  @include mx.b(mobile) {
    font-size: clamp(14px, 3vw, 16px);
    grid-area: text;
  }
}
