@use "../../../../../styles/mixins/mixins.scss" as mx;

// .content {
//   display: grid;
//   grid-template-columns: repeat(auto-fit, minmax(237px, 1fr));
//   grid-gap: 35px;

//   @include mx.b(desktop) {
//     gap: 15px;
//   }

//   @include mx.b(mobile) {
//     grid-template-columns: 1fr;
//   }
// }

.content {
  display: flex; // Включаем Flex
  flex-wrap: wrap; // Разрешаем перенос на новую строку
  gap: 35px; // Отступы работают так же, как в Grid

  // grid-template-columns удаляем, он тут не нужен

  @include mx.b(desktop) {
    gap: 15px;
  }

  @include mx.b(mobile) {
    display: flex;
    flex-direction: column;
  }
}

.item {
  flex: 1 1 30%;
  min-width: 240px;

  display: flex;
  flex-direction: column;
  gap: 15px;

  padding: 50px 30px 100px 30px;

  border-radius: 20px;
  background-color: #171721;

  @include mx.b(desktop) {
    gap: 10px;
    padding: 30px 20px 60px 20px;
  }

  @include mx.b(mobile) {
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-template-areas:
      "icon title"
      "text text";

    padding: 30px;
    border-radius: 10px;
  }
}

.badge {
  font-size: 58px;
  font-weight: 900;
  line-height: 1.207;

  @include mx.b(mobile) {
    // font-size: 36px;
    font-size: clamp(36px, 9.1vw, 50px);
  }
}

.icon {
  --icon-size: 70px;

  @include mx.b(mobile) {
    // --icon-size: 40px;
    --icon-size: clamp(45px, 10vw, 55px);
    grid-area: icon;
  }
}

.title {
  display: flex;
  flex-direction: column;
  font-size: 30px;
  font-weight: 900;

  @include mx.b(desktop) {
    font-size: 21px;
  }

  @include mx.b(mobile) {
    // font-size: 18px;
    font-size: clamp(20px, 4.5vw, 24px);
    margin-top: 0;
    grid-area: title;
  }
}

.text {
  // margin-top: 15px;

  font-weight: 700;
  font-size: 18px;

  opacity: 0.7;

  @include mx.b(desktop) {
    font-size: 14px;
  }

  @include mx.b(mobile) {
    font-size: clamp(14px, 3vw, 16px);
    margin-top: 0;
    grid-area: text;
  }
}
