@use "../../../../../../styles/mixins/mixins.scss" as mx;

.product-badge {
  gap: 7px;
  width: max-content;
  padding: 6px 15px;

  font-size: 14px;
  line-height: 1.2;

  border-radius: 10em;
  border: 2px solid rgba(var(--cl-main-rgb), 0.5);
  color: var(--cl-main);

  @include mx.b(desktop) {
    padding: 5px 10px;
    font-size: 12px;
    font-weight: 600;
  }

  @include mx.b(mobile) {
    font-size: 14px;
  }

  ui-icon {
    @include mx.b(desktop) {
      display: none;
    }

    @include mx.b(mobile) {
      display: flex;
    }
  }
}

.list-item {
  position: relative;
  gap: 50px;

  height: 100%;
  padding: 40px 30px;

  border-radius: 20px;
  outline: 3px solid transparent;

  background-color: #171721;
  transition: 0.3s ease-in-out;

  @include mx.b(desktop) {
    gap: 30px;
    padding: 30px 25px;
    border-radius: 15px;
  }

  @include mx.b(mobile) {
    min-width: 75vw;
    scroll-snap-align: center;
  }

  &::before {
    content: "+";

    position: absolute;
    top: 0;
    right: 10px;

    font-size: 70px;
    font-weight: 600;
    line-height: 1;

    color: rgba(var(--cl-main-rgb), var(--item-op, 0.5));
    transition: 0.3s ease-in-out;

    @include mx.b(desktop) {
      font-size: clamp(30px, 5vw, 50px);
    }

    @include mx.b(tablet) {
      font-size: clamp(30px, 8vw, 45px);
    }

    @include mx.b(mobile) {
      font-size: 50px;
    }
  }

  &:hover {
    --item-op: 1;
    border-radius: 30px;
    outline-color: var(--cl-main);

    @include mx.b(desktop) {
      border-radius: 25px;
    }

    &:before {
      transform: rotate(45deg);
    }
  }

  .info {
    @include mx.b(desktop) {
      gap: 10px;
    }
  }

  .title {
    font-size: 24px;
    line-height: 1.3;

    @include mx.b(desktop) {
      font-size: clamp(16px, 2.4vw, 24px);
    }

    @include mx.b(title) {
      font-size: clamp(16px, 2.5vw, 20px);
      line-height: 1.4;
    }

    @include mx.b(mobile) {
      font-size: 22px;
    }

    .accent {
      font-size: 30px;

      @include mx.b(desktop) {
        font-size: clamp(20px, 2.5vw, 28px);
      }

      @include mx.b(tablet) {
        font-size: clamp(20px, 3.1vw, 24px);
      }

      @include mx.b(mobile) {
        font-size: 26px;
      }
    }
  }

  .text {
    font-size: 18px;

    @include mx.b(desktop) {
      font-size: clamp(14px, 1.6vw, 16px);
    }

    @include mx.b(tablet) {
      font-size: clamp(14px, 2vw, 16px);
    }

    @include mx.b(mobile) {
      font-size: 16px;
    }
  }

  .media {
    max-height: 200px;
    border-radius: 20px;
    overflow: hidden;

    @include mx.b(desktop) {
      aspect-ratio: 2/1;
    }

    .img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
