@use "../mixins/mixins" as mx;

.select-placeholder {
  font-weight: 600;
  font-size: 14px;
  color: var(--ngp-selected, #808095);
}

.select-placeholder.selected {
  --ngp-selected: #e6e6f0;
}

.section-head {
  display: flex;
  flex-direction: column;
  align-items: center;
  // gap: var(--sc-head-gap, 30px);
  width: var(--sc-width, max-content);
  margin: var(--sc-margin, 0 auto);
  text-align: var(--sc-text-align, center);
  // margin-bottom: var(--sc-bottom, 100px);

  max-width: max-content;
  width: 100%;

  @include mx.b(desktop) {
    --sc-head-gap: 15px;
  }

  @include mx.b(tablet) {
    max-width: 360px;
  }

  // @include mx.b(mobile) {
  //   --sc-bottom: 60px;
  // }

  .title {
    width: var(--sc-title-w, max-content);
    max-width: 100%;
  }

  .title,
  .title::before {
    background: linear-gradient(
      90deg,
      var(--title-cls, #ffffff30, #fff, #ffffff30)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .sub-text {
    max-width: var(--sc-sub-text-mw, 600px);

    @include mx.b(mobile) {
      font-size: 18px;
    }

    &.w-100 {
      --sc-sub-text-mw: 100%;
    }
  }

  &.left {
    align-items: inherit;
    --sc-margin: 0 0;
    --sc-text-align: left;
    --title-lh: 1.2;
    --title-cls: #fff, #ffffff30;
  }

  &.g {
    &-sm {
      --sc-head-gap: 15px;
    }
  }
}

a.accent {
  color: #ff0b85 !important;
}

.link {
  text-decoration: none;
  opacity: 0.8;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  color: #ff0b85;

  &:hover {
    opacity: 1;
  }
}

.callout-text {
  max-width: 450px;
  width: 100%;
  color: #808095;
}
