@use "../mixins/mixins" as mx;

.btn {
  --btn-text-color: var(--text-color-rgb);
  --btn-bgc-rgb: var(--cl-main-rgb, 140, 140, 140);
  --btn-bgc-opacity: 0.15;
  --btn-bgc-opacity-hover: 0.25;
  --btn-bgc-opacity-active: 0.2;

  font-family: var(--btn-f, ("Inter", sans-serif));
  font-size: var(--btn-fz, mx.rem(14));
  font-weight: var(--btn-fw, normal);
  line-height: var(--btn-lh, 1);

  padding: var(--btn-padding, (mx.rem(15) mx.rem(20)));
  border-radius: var(--btn-border-radius, mx.rem(10));
  overflow: hidden;

  border: mx.rem(2) solid transparent;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: max-content;

  color: rgba(var(--btn-text-color), 1);
  cursor: pointer;

  &-text {
    background: none;
  }

  // &[class*="cl-g-"],
  &.g-bg {
    --btn-text-color: 255, 255, 255;
    border: none;
  }

  &:not([class*="cl-g-"]) {
    background-color: rgba(var(--btn-bgc-rgb), var(--btn-bgc-opacity));
    &:hover {
      background-color: rgba(var(--btn-bgc-rgb), var(--btn-bgc-opacity-hover));
    }
    &:active {
      background-color: rgba(var(--btn-bgc-rgb), var(--btn-bgc-opacity-active));
    }
  }

  &.w {
    &-100 {
      width: 100%;
    }

    &-base {
      max-width: mx.rem(300);
      width: 100%;
    }
  }

  &.fill {
    --btn-bgc-opacity: 1;
    --btn-bgc-opacity-hover: 0.9;
    --btn-bgc-opacity-active: 0.95;
  }
}
