@use "../mixins/mixins.scss" as mx;

$gradients: (
  // White
  ("white-1", #fff, #ffffff30),
  ("mist-1", #6d90b9, #bbc7dc),
  // Blue
  ("blue-1", #3aadad, #5249f8),
  ("blue-5", #adb1ff, #ff9cc2),
  ("sky-1", #c3e1fc, #dd83ad),
  ("sky-2", #12b3eb, #298884),
  ("aqua-1", #adf7f1, #b2a7ff),
  // Purple
  ("purple-3", #9d5cf0, #e0a9bb),
  ("purple-4", #d5d2ff, #c95cff),
  ("purple-5", #f19fff, #ff9292),
  // Yellow
  ("yellow-4", #ebf7ad, #a8ffa7),
  // Green
  ("green-2", #5abc98, #24594b),
  ("green-5", #a8ffa7, #ebf7ad),
  // Orange
  ("orange-2", #ca7bde, #f5895c),
  ("peach-1", #ffabab, #ffdf8e),
  // Red
  ("red-5", #ff989a, #ff393d),
  ("pink-3", #ffc5cb, #d84766)
);

@include mx.gcolors($gradients);
