@use "../mixins/mixins" as mx;

.ic {
  &::before {
    display: inline-block;
    width: 1em;

    margin-right: mx.rem(10);
    margin-left: 0.2em;

    font-family: "CIcons", sans-serif;
    text-align: center;
    font-size: 120%;
    line-height: 1em;

    &:not(.btn) {
      margin-right: 0.2em;
    }
  }

  &-mobile {
    @extend .ic;
    &::before {
      content: "\e800";
    }
  }

  &-telegram {
    @extend .ic;
    &::before {
      content: "\f2c6";
    }
  }

  // &-flashlight {
  //   @extend .ic;
  //   &::before { content: '\e801'; }
  // }

  &-picture {
    @extend .ic;
    &::before {
      content: "\e802";
    }
  }

  &-globe {
    @extend .ic;
    &::before {
      content: "\e803";
    }
  }

  &-leaf {
    @extend .ic;
    &::before {
      content: "\e804";
    }
  }

  &-camera {
    @extend .ic;
    &::before {
      content: "\e805";
    }
  }

  // &-right-open {
  //   @extend .ic;
  //   &::before { content: '\e806'; }
  // }

  &-lock {
    @extend .ic;
    &::before {
      content: "\e807";
    }
  }

  &-tag,
  &-json {
    @extend .ic;
    &::before {
      content: "\e808";
    }
  }

  &-hash {
    @extend .ic;
    &::before {
      content: "\e809";
    }
  }

  &-bookmark {
    @extend .ic;
    &::before {
      content: "\e80a";
    }
  }

  // &-left-open {
  //   @extend .ic;
  //   &::before { content: '\e80b'; }
  // }

  &-link {
    @extend .ic;
    &::before {
      content: "\e80c";
    }
  }

  // &-link-1 {
  //   @extend .ic;
  //   &::before { content: '\e80d'; }
  // }

  // &-clock {
  //   @extend .ic;
  //   &::before { content: '\e80e'; }
  // }

  &-amaryfilo {
    @extend .ic;
    &::before {
      content: "\e80f";
    }
  }

  &-calendar {
    @extend .ic;
    &::before {
      content: "\e810";
    }
  }

  &-cancel-1 {
    @extend .ic;
    &::before {
      content: "\e811";
    }
  }

  &-angular {
    @extend .ic;
    &::before {
      content: "\e812";
    }
  }

  &-coins {
    @extend .ic;
    &::before {
      content: "\e813";
    }
  }

  &-nodejs {
    @extend .ic;
    &::before {
      content: "\e814";
    }
  }

  &-light-up {
    @extend .ic;
    &::before {
      content: "\e815";
    }
  }

  &-react {
    @extend .ic;
    &::before {
      content: "\e816";
    }
  }

  // &-adobeillustrator {
  //   @extend .ic;
  //   &::before { content: '\e817'; }
  // }

  &-ionic {
    @extend .ic;
    &::before {
      content: "\e839";
    }
  }

  &-gulp {
    @extend .ic;
    &::before {
      content: "\e83a";
    }
  }

  &-ngrx,
  &-rxjs {
    @extend .ic;
    &::before {
      content: "\e83b";
    }
  }

  &-pug {
    @extend .ic;
    &::before {
      content: "\e83c";
    }
  }

  &-typescript {
    @extend .ic;
    &::before {
      content: "\e83e";
    }
  }

  &-sass {
    @extend .ic;
    &::before {
      content: "\e83f";
    }
  }

  &-vue {
    @extend .ic;
    &::before {
      content: "\e840";
    }
  }

  &-metamask {
    @extend .ic;
    &::before {
      content: "\e842";
    }
  }

  &-wallet {
    @extend .ic;
    &::before {
      content: "\e843";
    }
  }

  &-walletconnect {
    @extend .ic;
    &::before {
      content: "\e846";
    }
  }

  &-web3js {
    @extend .ic;
    &::before {
      content: "\e847";
    }
  }

  &-api,
  &-blockchain {
    @extend .ic;
    &::before {
      content: "\e848";
    }
  }

  &-graphql {
    @extend .ic;
    &::before {
      content: "\e849";
    }
  }

  &-laravel {
    @extend .ic;
    &::before {
      content: "\e84a";
    }
  }

  &-php {
    @extend .ic;
    &::before {
      content: "\e84b";
    }
  }

  &-rest {
    @extend .ic;
    &::before {
      content: "\e84c";
    }
  }

  &-gitflow {
    @extend .ic;
    &::before {
      content: "\e84d";
    }
  }

  &-npm {
    @extend .ic;
    &::before {
      content: "\e84e";
    }
  }

  &-apache {
    @extend .ic;
    &::before {
      content: "\e84f";
    }
  }

  &-nginx {
    @extend .ic;
    &::before {
      content: "\e850";
    }
  }

  &-mongodb {
    @extend .ic;
    &::before {
      content: "\e851";
    }
  }

  &-mysql {
    @extend .ic;
    &::before {
      content: "\e852";
    }
  }

  &-postgres {
    @extend .ic;
    &::before {
      content: "\e853";
    }
  }

  // &-wordpress {
  //   @extend .ic;
  //   &::before { content: '\e854'; }
  // }

  &-wintercms {
    @extend .ic;
    &::before {
      content: "\e855";
    }
  }

  &-customcms {
    @extend .ic;
    &::before {
      content: "\e856";
    }
  }

  // &-bitrix {
  //   @extend .ic;
  //   &::before { content: '\e857'; }
  // }

  &-cms {
    @extend .ic;
    &::before {
      content: "\e858";
    }
  }

  &-link-ext {
    @extend .ic;
    &::before {
      content: "\f08e";
    }
  }

  // &-bookmark-empty {
  //   @extend .ic;
  //   &::before { content: '\f097'; }
  // }

  &-twitter {
    @extend .ic;
    &::before {
      content: "\f099";
    }
  }

  &-facebook {
    @extend .ic;
    &::before {
      content: "\f09a";
    }
  }

  &-github {
    @extend .ic;
    &::before {
      content: "\f09b";
    }
  }

  &-filter {
    @extend .ic;
    &::before {
      content: "\f0b0";
    }
  }

  &-magic,
  &-tools {
    @extend .ic;
    &::before {
      content: "\f0d0";
    }
  }

  &-pinterest-circled {
    @extend .ic;
    &::before {
      content: "\f0d2";
    }
  }

  // &-money {
  //   @extend .ic;
  //   &::before { content: '\f0d6'; }
  // }

  &-mail-alt {
    @extend .ic;
    &::before {
      content: "\f0e0";
    }
  }

  &-linkedin {
    @extend .ic;
    &::before {
      content: "\f0e1";
    }
  }

  &-download-cloud {
    @extend .ic;
    &::before {
      content: "\f0ed";
    }
  }

  // &-angle-left {
  //   @extend .ic;
  //   &::before { content: '\f104'; }
  // }

  // &-angle-right {
  //   @extend .ic;
  //   &::before { content: '\f105'; }
  // }

  &-desktop {
    @extend .ic;
    &::before {
      content: "\f108";
    }
  }

  &-gamepad {
    @extend .ic;
    &::before {
      content: "\f11b";
    }
  }

  &-code,
  &-frontend {
    @extend .ic;
    &::before {
      content: "\f121";
    }
  }

  &-info {
    @extend .ic;
    &::before {
      content: "\f129";
    }
  }

  &-html5 {
    @extend .ic;
    &::before {
      content: "\f13b";
    }
  }

  &-css3 {
    @extend .ic;
    &::before {
      content: "\f13c";
    }
  }

  &-lock-open-alt {
    @extend .ic;
    &::before {
      content: "\f13e";
    }
  }

  &-bitcoin {
    @extend .ic;
    &::before {
      content: "\f15a";
    }
  }

  &-youtube {
    @extend .ic;
    &::before {
      content: "\f16a";
    }
  }

  &-instagram {
    @extend .ic;
    &::before {
      content: "\f16d";
    }
  }

  &-bitbucket {
    @extend .ic;
    &::before {
      content: "\f171";
    }
  }

  &-moon {
    @extend .ic;
    &::before {
      content: "\f186";
    }
  }

  &-vk {
    @extend .ic;
    &::before {
      content: "\f189";
    }
  }

  &-behance {
    @extend .ic;
    &::before {
      content: "\f1b4";
    }
  }

  // &-spotify {
  //   @extend .ic;
  //   &::before { content: '\f1bc'; }
  // }

  &-database {
    @extend .ic;
    &::before {
      content: "\f1c0";
    }
  }

  &-git {
    @extend .ic;
    &::before {
      content: "\f1d3";
    }
  }

  &-newspaper,
  &-seo {
    @extend .ic;
    &::before {
      content: "\f1ea";
    }
  }

  &-brush,
  &-design {
    @extend .ic;
    &::before {
      content: "\f1fc";
    }
  }

  &-server,
  &-backend {
    @extend .ic;
    &::before {
      content: "\f233";
    }
  }

  &-envira,
  &-octobercms {
    @extend .ic;
    &::before {
      content: "\f299";
    }
  }

  &-snapchat-ghost {
    @extend .ic;
    &::before {
      content: "\f2ac";
    }
  }

  &-menu {
    @extend .ic;
    &::before {
      content: "\e818";
    }
  }

  // &-menu-1 {
  //   @extend .ic;
  //   &::before { content: '\f008'; }
  // }

  // &-menu-2 {
  //   @extend .ic;
  //   &::before { content: '\f0c9'; }
  // }

  // &-menu-3 {
  //   @extend .ic;
  //   &::before { content: '\e819'; }
  // }

  &-swiftui {
    @extend .ic;
    &::before {
      content: "\e85d";
    }
  }

  // &-patreon {
  //   @extend .ic;
  //   &::before { content: '\e85e'; }
  // }

  &-dribble {
    @extend .ic;
    &::before {
      content: "\f17d";
    }
  }
}
