@use "../mixins/mixins" as mx;

.line-text {
  max-width: 600px;
}

.title {
  width: var(--title-width, max-content);
  font-family: var(--title-font);
  font-size: var(--title-fz, 20px);
  font-weight: var(--title-fw, 900);
  line-height: var(--title-lh, 1.15);

  &.s {
    &-xs {
      --title-fz: 16px;
    }

    &-sm {
      --title-fz: 36px;
    }

    &-md {
      --title-fz: 48px;

      @include mx.b(tablet) {
        --title-fz: 48px;
      }

      @include mx.b(mobile) {
        --title-fz: 36px;
      }
    }

    &-lg {
      --title-fz: 64px;

      @include mx.b(desktop) {
        --title-fz: 60px;
      }

      @include mx.b(tablet) {
        --title-fz: 50px;
      }

      @include mx.b(mobile) {
        --title-fz: 35px;
      }
    }

    &-xl {
      --title-fz: 96px;

      @include mx.b(desktop) {
        --title-fz: 75px;
      }

      @include mx.b(tablet) {
        --title-fz: 70px;
      }

      @include mx.b(mobile) {
        --title-fz: 50px;
      }
    }

    &-xxl {
      --title-fz: 128px;

      @include mx.b(desktop) {
        --title-fz: 96px;
      }

      @include mx.b(tablet) {
        --title-fz: 70px;
      }

      @include mx.b(mobile) {
        --title-fz: 50px;
      }
    }
  }
}

.sub-text {
  font-family: var(--title-font);
  font-size: var(--sub-text-fz, 24px);
  font-weight: var(--sub-text-fw, 600);
  line-height: var(--sub-text-lh, 1.25);
  opacity: var(--sub-text-op, 0.7);

  &.s {
    &-xs {
      --sub-text-fz: 18px;
    }

    &-sm {
      --sub-text-fz: 20px;

      @include mx.b(mobile) {
        --sub-text-fz: 18px;
      }
    }

    &-md {
      --sub-text-fz: 24px;
    }

    &-lg {
      --sub-text-fz: 32px;

      @include mx.b(desktop) {
        --sub-text-fz: 28px;
      }

      @include mx.b(tablet) {
        --sub-text-fz: 24px;
      }
    }
  }
}

.fw {
  &-1 {
    font-weight: 100;
  }
  &-2 {
    font-weight: 200;
  }
  &-3 {
    font-weight: 300;
  }
  &-4 {
    font-weight: 400;
  }
  &-5 {
    font-weight: 500;
  }
  &-6 {
    font-weight: 600;
  }
  &-7 {
    font-weight: 700;
  }
  &-8 {
    font-weight: 800;
  }
  &-9 {
    font-weight: 900;
  }
}

.fz {
  &-xxs {
    font-size: 10px;
  }
  &-xs {
    font-size: 12px;
  }
  &-sm {
    font-size: 14px;
  }
  &-md {
    font-size: 18px;
  }
  &-lg {
    font-size: 20px;
  }
  &-xl {
    font-size: 24px;
  }
  &-xxl {
    font-size: 32px;
  }
  &-3xl {
    font-size: 64px;
  }
}

.g {
  &-5 {
    gap: mx.rem(5);
  }
  &-10 {
    gap: mx.rem(10);
  }
  &-15 {
    gap: mx.rem(15);
  }
  &-20 {
    gap: mx.rem(20);
  }
  &-25 {
    gap: mx.rem(25);
  }
  &-30 {
    gap: mx.rem(30);
  }
  &-35 {
    gap: mx.rem(35);
  }
  &-40 {
    gap: mx.rem(40);
  }
}

.t {
  &-u {
    text-transform: uppercase;
  }

  &-c {
    text-align: center;
  }

  &-gr,
  &-gr::before {
    background: linear-gradient(
      45deg,
      var(--cl-main, #eddbc3),
      var(--cl-accent, #86acb9)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &-cw {
    color: #fff !important;
  }
}

.op {
  &-5 {
    opacity: 0.5;
  }

  &-6 {
    opacity: 0.6;
  }

  &-7 {
    opacity: 0.7;
  }

  &-8 {
    opacity: 0.8;
  }
}

// Grid
.fl {
  display: flex;

  &-dc {
    flex-direction: column;
  }

  &-w {
    flex-wrap: wrap;
  }

  &-cc {
    justify-content: center;
    align-items: center;
  }

  &-sbc {
    justify-content: space-between;
    align-items: center;
  }

  // &-cb {
  //   align-items: center;
  //   justify-content: baseline;
  // }

  // &-bc {
  //   align-items: baseline;
  //   justify-content: center;
  // }
}

.m {
  margin: mx.rem(5);

  &-auto {
    margin: 0 auto;
  }

  &-t {
    &-5 {
      margin-top: mx.rem(5);
    }
    &-10 {
      margin-top: mx.rem(10);
    }
    &-15 {
      margin-top: mx.rem(15);
    }
    &-20 {
      margin-top: mx.rem(20);
    }
    &-25 {
      margin-top: mx.rem(25);
    }
    &-30 {
      margin-top: mx.rem(30);
    }
    &-35 {
      margin-top: mx.rem(35);
    }
  }

  &-b {
    &-5 {
      margin-bottom: mx.rem(5);
    }
    &-10 {
      margin-bottom: mx.rem(10);
    }
    &-15 {
      margin-bottom: mx.rem(15);
    }
    &-20 {
      margin-bottom: mx.rem(20);
    }
    &-25 {
      margin-bottom: mx.rem(25);
    }
    &-30 {
      margin-bottom: mx.rem(30);
    }
    &-35 {
      margin-bottom: mx.rem(35);
    }
  }
}

// ::selection {
//   background-color: var(--cl-cmain);
//   color: var(--body-text-color-alt);
//   -webkit-text-fill-color: var(--body-text-color-alt);

//   @include mx.theme("dark", true) {
//     background-color: var(--cl-caccent);
//   }
// }

.w {
  &-mc {
    width: max-content;
  }

  &-100 {
    max-width: 100%;
    width: 100%;
  }
}
