@use "../mixins/mixins" as mx;

.m-auto {
  margin: 0 auto;
}

// $gap-values: (4, 5, 8, 10, 12, 15, 16, 20, 24, 30, 32, 40, 48, 64);
// $spacing-values: (4, 5, 8, 10, 12, 15, 16, 20, 24, 30, 32, 35, 40, 48, 64);
$gap-values: (10, 15, 20, 30, 40);
$spacing-values: (10, 20, 30, auto);

$spacing-map: (
  "m-t": (
    margin-top,
  ),
  "m-b": (
    margin-bottom,
  ),
  "m-l": (
    margin-left,
  ),
  "m-r": (
    margin-right,
  ),
  "m-x": (
    margin-left,
    margin-right,
  ),
  // "m-y": (
  //   margin-top,
  //   margin-bottom,
  // ),
  // "p-t": (
  //   padding-top,
  // ),
  // "p-b": (
  //   padding-bottom,
  // ),
  // "p-l": (
  //   padding-left,
  // ),
  // "p-r": (
  //   padding-right,
  // ),
  // "p-x": (
  //   padding-left,
  //   padding-right,
  // ),
  // "p-y": (
  //   padding-top,
  //   padding-bottom,
  // ),,,,,,,,
);

@mixin generate-gap-utilities($values) {
  @each $value in $values {
    .g-#{$value} {
      gap: mx.rem($value);
    }
  }
}

@mixin generate-spacing-utilities($map, $values) {
  @each $prefix, $properties in $map {
    @each $value in $values {
      .#{$prefix}-#{$value} {
        @each $property in $properties {
          #{$property}: mx.rem($value);
        }
      }
    }
  }
}

@include generate-gap-utilities($gap-values);
@include generate-spacing-utilities($spacing-map, $spacing-values);

.line-text {
  max-width: 600px;
}

.title {
  width: var(--title-width, max-content);
  font-family: var(--title-font);
  font-size: var(--title-fz, 20px);
  font-weight: var(--title-fw, 900);
  line-height: var(--title-lh, 1.15);

  &.s {
    &-xs {
      --title-fz: 16px;
    }

    &-sm {
      --title-fz: 36px;
    }

    &-md {
      --title-fz: 48px;

      @include mx.b(tablet) {
        --title-fz: 48px;
      }

      @include mx.b(mobile) {
        --title-fz: 36px;
      }
    }

    &-lg {
      --title-fz: 64px;

      @include mx.b(desktop) {
        --title-fz: 60px;
      }

      @include mx.b(tablet) {
        --title-fz: 50px;
      }

      @include mx.b(mobile) {
        --title-fz: 35px;
      }
    }

    &-xl {
      --title-fz: 96px;

      @include mx.b(desktop) {
        --title-fz: 75px;
      }

      @include mx.b(tablet) {
        --title-fz: 70px;
      }

      @include mx.b(mobile) {
        --title-fz: 50px;
      }
    }

    &-xxl {
      --title-fz: 128px;

      @include mx.b(desktop) {
        --title-fz: 96px;
      }

      @include mx.b(tablet) {
        --title-fz: 70px;
      }

      @include mx.b(mobile) {
        --title-fz: 50px;
      }
    }
  }
}

.sub-text {
  font-family: var(--title-font);
  font-size: var(--sub-text-fz, 24px);
  font-weight: var(--sub-text-fw, 600);
  line-height: var(--sub-text-lh, 1.25);
  opacity: var(--sub-text-op, 0.7);

  &.s {
    &-xs {
      --sub-text-fz: 18px;
    }

    &-sm {
      --sub-text-fz: 20px;

      @include mx.b(mobile) {
        --sub-text-fz: 18px;
      }
    }

    &-md {
      --sub-text-fz: 24px;
    }

    &-lg {
      --sub-text-fz: 32px;

      @include mx.b(desktop) {
        --sub-text-fz: 28px;
      }

      @include mx.b(tablet) {
        --sub-text-fz: 24px;
      }
    }
  }
}

.fw {
  &-1 {
    font-weight: 100;
  }
  &-2 {
    font-weight: 200;
  }
  &-3 {
    font-weight: 300;
  }
  &-4 {
    font-weight: 400;
  }
  &-5 {
    font-weight: 500;
  }
  &-6 {
    font-weight: 600;
  }
  &-7 {
    font-weight: 700;
  }
  &-8 {
    font-weight: 800;
  }
  &-9 {
    font-weight: 900;
  }
}

.fz {
  &-xxs {
    font-size: 10px;
  }
  &-xs {
    font-size: 12px;
  }
  &-sm {
    font-size: 14px;
  }
  &-md {
    font-size: 18px;
  }
  &-lg {
    font-size: 20px;
  }
  &-xl {
    font-size: 24px;
  }
  &-xxl {
    font-size: 32px;
  }
  &-3xl {
    font-size: 64px;
  }
}

.t {
  &-u {
    text-transform: uppercase;
  }

  &-c {
    text-align: center;
  }

  &-gr,
  &-gr::before {
    background: linear-gradient(
      45deg,
      var(--cl-main, #eddbc3),
      var(--cl-accent, #86acb9)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &-cw {
    color: #fff !important;
  }
}

.op {
  &-5 {
    opacity: 0.5;
  }

  &-6 {
    opacity: 0.6;
  }

  &-7 {
    opacity: 0.7;
  }

  &-8 {
    opacity: 0.8;
  }
}

// Grid
.fl {
  display: flex;
}

$flex-helper-map: (
  dc: (
    flex-direction: column,
  ),
  w: (
    flex-wrap: wrap,
  ),
  cc: (
    justify-content: center,
    align-items: center,
  ),
  sbc: (
    justify-content: space-between,
    align-items: center,
  ),
);

@each $name, $props in $flex-helper-map {
  .fl-#{$name} {
    @each $prop, $value in $props {
      #{$prop}: $value;
    }
  }
}

// ::selection {
//   background-color: var(--cl-cmain);
//   color: var(--body-text-color-alt);
//   -webkit-text-fill-color: var(--body-text-color-alt);

//   @include mx.theme("dark", true) {
//     background-color: var(--cl-caccent);
//   }
// }

.w {
  &-mc {
    width: max-content;
  }

  &-100 {
    max-width: 100%;
    width: 100%;
  }
}
