// @use "../mixins/mixins" as mx;
// @include mx.scope("base-ui") {
//   .modal {
//     position: fixed;
//     z-index: 999;

//     width: 100%;
//     height: 100%;

//     top: 0;
//     left: 0;

//     // display: none;

//     padding: mx.rem(10);

//     @include mx.b(mobile) {
//       padding: mx.rem(0);
//     }

//     &-show {
//       display: flex !important;
//     }

//     .backdrop {
//       position: absolute;
//       width: 100%;
//       height: 100%;

//       background-color: rgba(var(--body-bg-color-rgb), 0.7);
//       box-shadow: 0 0 mx.rem(10) mx.rem(-1) #00000045;

//       z-index: 99;
//     }

//     &-close {
//       position: absolute;

//       top: mx.rem(20);
//       right: mx.rem(20);

//       @include mx.b(mobile) {
//         top: mx.rem(10);
//         right: mx.rem(10);
//       }
//     }

//     &-wrap {
//       position: relative;

//       width: 100%;
//       max-width: var(--modal-max-width, #{mx.rem(600)});
//       max-height: 70%;

//       display: flex;
//       flex-direction: column;

//       // padding: mx.rem(25) 0;
//       padding: mx.rem(5);
//       margin: 0 auto;

//       background-image: linear-gradient(
//           var(--body-bg-color),
//           var(--body-bg-color)
//         ),
//         radial-gradient(circle at top left, #86acb9, #eddbc3);
//       background-clip: content-box, border-box;

//       // border: mx.rem(5) solid rgba(195,195,195,.1);
//       border-radius: mx.rem(30);

//       // background-color: var(--body-bg-color);

//       z-index: 99;
//       overflow: hidden;

//       @include mx.b(mobile) {
//         height: 100%;
//         max-height: 100%;
//         border-radius: mx.rem(0);
//       }
//     }

//     &-top {
//       min-height: mx.rem(30);
//       padding: mx.rem(20) mx.rem(30);

//       @include mx.b(mobile) {
//         min-height: auto;
//       }

//       .text {
//         margin: mx.rem(10) 0;
//       }
//     }

//     &-bottom {
//       min-height: mx.rem(30);
//       padding: 0 mx.rem(30);

//       @include mx.b(mobile) {
//         min-height: auto;
//       }
//     }

//     &-content {
//       height: auto;
//       padding: 0 mx.rem(30);

//       overflow-x: hidden;
//       overflow-y: auto;
//       overscroll-behavior: contain;

//       @include mx.b(mobile) {
//         padding: 0 mx.rem(20);
//       }
//     }

//     &-lang {
//       display: grid;
//       grid-template-columns: repeat(auto-fit, minmax(mx.rem(135), 1fr));
//       grid-gap: mx.rem(10);

//       .btn {
//         font-size: mx.rem(16);
//         --btn-padding: #{(mx.rem(10))};
//         cursor: pointer;

//         &::before {
//           margin-right: mx.rem(5);
//         }
//       }
//     }
//   }
// }
