<section class="sc">
  <div class="container">
    <div class="content">
      <div class="fl fl-dc g-20">
        <div class="fl fl-dc g-10">
          <h3 class="title fz-xxl">Still have questions?</h3>
          <span class="text fz-md op-8 fw-6">
            Write to us to clarify all questions once and for all!
          </span>
        </div>

        <div class="att fz-sm fw-5">
          This form is
          <span class="t-gr fw-7 cl-g-purple-2">only for questions</span>.
          <br />
          Responses depend on the workload of our managers. To apply for a
          project click button below!
        </div>

        <div class="btn fw-7 fz-sm g-bg g-a cl-g-purple-2">
          Apply for a project!
        </div>
      </div>

      <div class="form">
        <input type="text" />
      </div>
    </div>
  </div>
</section>
