<section class="sc">
  <div class="container">
    <div class="content">
      <div class="info fl fl-dc g-20">
        <div class="fl fl-dc g-10">
          <h3 class="title fz-xxl">Still have questions?</h3>
          <span class="text fz-md op-8 fw-6">
            Write to us to clarify all questions once and for all!
          </span>
        </div>

        <div class="att fz-sm fw-5">
          This form is
          <span class="t-gr fw-7 cl-g-purple-2">only for questions</span>.
          <br />
          Responses depend on the workload of our managers. To apply for a
          project click button below!
        </div>

        <div class="btn fw-7 fz-sm g-bg g-a cl-g-purple-2">
          Apply for a project!
        </div>
      </div>

      <form
        [formGroup]="form"
        (ngSubmit)="onSubmit()"
        class="fl fl-dc g-15 cl-g-pink-1"
      >
        @if(formSent()) {
        <div class="fl fl-dc fl-cc g-10">
          <ui-icon
            name="checkDoubleLine"
            size="50px"
            gradient="#d174ff, #a1a0ff"
          />
          <div class="callout-text m-t-10 m-auto t-c">
            Your request successfully sent! <br />
            Our managers will answer as soon as possible.
          </div>
        </div>
        } @else {
        <div class="form-group">
          <input
            app-input
            type="text"
            placeholder="Your name"
            formControlName="name"
          />
          <input
            app-input
            type="text"
            placeholder="Your email"
            formControlName="contact"
          />
        </div>

        <textarea
          app-textarea
          placeholder="Your question or message"
          formControlName="message"
        ></textarea>

        <button
          class="btn g-bg g-a w-100 m-t-10 cl-g-pink-1"
          type="submit"
          [disabled]="form.invalid || isSubmitting()"
        >
          Let's ask it!
        </button>
        <div class="callout-text m-auto t-c fz-sm">
          By clicking the button, you agree to <br />
          our
          <a href="#" class="link accent">privacy policy</a>
          and <a href="#" class="link accent">terms</a> of data transfer.
        </div>
        }
      </form>
    </div>
  </div>
</section>
