@use "../../../../styles/mixins/mixins.scss" as mx;
@use "../../../../styles/tokens.scss" as tokens;

.container {
  --container-width: 630px;
}

form {
  width: 100%;
  padding: 50px 15px 40px 15px;
  border-radius: 25px;
  background: #171721;
}

.form-wrap {
  max-width: 500px;
  margin: 0 auto;
}

.title {
  width: 100%;
  color: #e0e0f3;

  @include mx.b(800) {
    font-size: 28px;
  }

  @include mx.b(tablet) {
    margin: 0 auto;
    font-size: 45px;
  }

  @include mx.b(mobile) {
    font-size: 30px;
  }
}

.text {
  color: #808095;
}

.att {
  padding: 15px;
  color: #808095;
}

.accent {
  color: #d174ff;
}

.form-group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px;

  @include mx.b(mobile) {
    grid-template-columns: 1fr;
  }
}
