<section class="sc">
  <div class="container">
    <div class="content fl fl-dc">
      @for (item of data; track $index) {
        <div
          class="product-banner"
          [class]="itemColorClass(item.color)"
          [class.reverse]="item.reverse"
        >
          <div class="info fl fl-dc g-20">
            <div class="product-badge fl fl-cc fw-7">
              <ui-icon class="product-icon" [name]="item.icon" size="20px" />
              {{ item.badge }}
            </div>
            @if (item.reverseTitle) {
              <h2 class="title t-u fw-8">
                <div class="accent fw-9 t-gr" [innerHTML]="item.title"></div>
                <span [innerHTML]="item.subtitle"></span>
              </h2>
            } @else {
              <h2 class="title t-u fw-8">
                <span [innerHTML]="item.subtitle"></span>
                <div class="accent fw-9 t-gr" [innerHTML]="item.title"></div>
              </h2>
            }
            <p class="text fw-6 op-7">{{ item.text }}</p>
          </div>
          <div class="features fl fl-dc g-20">
            <div class="features-title fl fl-cc g-15 op-8 fw-7">
              <span>Features <span class="op-6">you will get</span></span>
            </div>
            <div class="features-list fl fl-w g-5">
              @for (feature of item.features; track $index) {
                <div class="feature-item fw-7">{{ feature }}</div>
              }
            </div>
          </div>
          <div class="media fl fl-cc">
            <img class="img" [src]="itemImgSrc(item.img)" [alt]="item.imgAlt" />
          </div>
        </div>
      }
    </div>

    <div class="section-head g-10">
      <h2 class="title s-sm t-u">Crypto features</h2>
      <span class="sub-text fz-md">Web3 & UX features built-in </span>
    </div>

    <div class="list">
      @for (p of products; track $index) {
        <product-item [data]="p" />
      }
    </div>
  </div>
</section>
