@use "../../../../../styles/mixins/mixins.scss" as mx;

.content {
  gap: 100px;

  @include mx.b(desktop) {
    gap: 50px;
  }

  @include mx.b(mobile) {
    gap: 30px;
  }
}

.product-banner {
  display: grid;
  grid-template-columns: 1fr 400px;
  grid-template-areas: "info media" "features media";
  grid-gap: 30px;

  margin: 0 auto;
  padding: 40px;

  border-radius: 30px;
  background-color: #171721;

  @include mx.b(desktop) {
    grid-template-columns: 1fr minmax(280px, 320px);
    grid-template-areas: "info media" "features features";
    grid-gap: 25px;

    max-width: 850px;
    padding: 35px;
  }

  @include mx.b(tablet) {
    grid-template-columns: 1fr;
    grid-template-areas: "info" "media" "features";
    max-width: 550px;
    grid-gap: 40px;
  }

  @include mx.b(mobile) {
    grid-gap: 25px;
    padding: 20px;
    text-align: center;
  }

  &.reverse {
    grid-template-columns: 400px 1fr;
    grid-template-areas: "media info" "media features";

    @include mx.b(desktop) {
      grid-template-columns: minmax(280px, 320px) 1fr;
      grid-template-areas: "media info" "features features";
    }

    @include mx.b(tablet) {
      grid-template-columns: 1fr;
      grid-template-areas: "info" "media" "features";
    }
  }

  .info {
    grid-area: info;
    padding: 20px 0 20px 20px;

    @include mx.b(desktop) {
      padding: 10px 0 0 0;
    }

    @include mx.b(mobile) {
      align-items: center;
      padding-right: 0;
    }
  }

  .title {
    font-size: 30px;
    line-height: 1.3;

    @include mx.b(desktop) {
      font-size: 24px;
    }

    @include mx.b(mobile) {
      font-size: clamp(14px, 5vw, 24px);
    }

    .accent {
      font-size: 36px;

      @include mx.b(desktop) {
        font-size: 34px;
      }

      @include mx.b(mobile) {
        font-size: clamp(18px, 8vw, 40px);
      }
    }
  }

  .text {
    max-width: 550px;
    font-size: 20px;

    @include mx.b(desktop) {
      font-size: 18px;
    }

    @include mx.b(mobile) {
      font-size: 16px;
    }

    @include mx.b(380) {
      font-size: 14px;
    }
  }

  .features {
    grid-area: features;
    width: 100%;
    padding: 20px;

    @include mx.b(desktop) {
      padding: 0 0 20px 0;
    }

    &-title {
      width: 100%;
      white-space: nowrap;

      @include mx.b(mobile) {
        font-size: 14px;
      }

      &::after,
      &::before {
        content: "";
        display: flex;

        width: 100%;
        height: 3px;

        border-radius: 10em;
        background-color: #ffffff10;
      }

      &::before {
        display: none;

        @include mx.b(mobile) {
          display: flex;
        }
      }
    }

    &-list {
      @include mx.b(mobile) {
        justify-content: center;
      }
    }
  }

  .feature {
    &-item {
      width: max-content;
      padding: 10px;

      font-size: 14px;
      border-radius: 5px;

      background-color: #1f1f2a;
      color: #d2d2d4;

      @include mx.b(mobile) {
        padding: 5px 7px;
        font-size: 12px;
        font-weight: 600;
      }
    }
  }

  .media {
    grid-area: media;
    width: 100%;

    border-radius: 20px;
    background-color: #1f1f2a;
    overflow: hidden;

    @include mx.b(tablet) {
      max-height: 250px;
      margin: 0 auto;
      aspect-ratio: 2/1;
    }

    .img {
      width: 100%;
      height: 100%;

      border-radius: 12px;
      object-fit: cover;
    }
  }
}

.product-badge {
  width: max-content;
  gap: 7px;
  padding: 6px 15px;

  line-height: 1.2;
  border-radius: 10em;

  background-color: rgba(var(--cl-main-rgb), 0.2);
  color: var(--cl-main);

  @include mx.b(mobile) {
    font-size: 14px;
  }
}

.list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;

  @include mx.b(desktop) {
    grid-gap: 10px;
  }

  @include mx.b(tablet) {
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
  }

  @include mx.b(mobile) {
    display: flex;
    flex-wrap: nowrap;
    gap: 15px;

    padding: 10px 20px;

    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}
