<section class="sc">
  <div class="container">
    <div class="content" [class]="'cl-g-' + gradient()">
      <div class="info">
        <div class="head fl fl-dc g-20">
          <h3 class="title t-gr t-u s-sm">Lets finalize <br />A brief</h3>
          <span class="fz-md op-8 fw-6">
            You can send your approximate app build brief and we will discuss it
            with you.
          </span>
        </div>

        <div class="fl g-10 m-t-30">
          <div class="item fl fl-dc g-5">
            <h4 class="title fz-xs fw-6">Approximate price</h4>
            <span class="text fw-8 fz-lg">€ {{ price() }}+</span>
          </div>
          <div class="item fl fl-dc g-5">
            <h4 class="title fz-xs fw-6">Approximate Time</h4>
            <span class="text fw-8 fz-lg">{{ estimate() }} weeks</span>
          </div>
        </div>

        <div class="callout-text fw-5 fz-sm m-t-30 m-auto t-c">
          This is not a final Brief. Price and time can be changed after eye to
          eye call for clarify everything.
        </div>
      </div>

      <form [formGroup]="form" (ngSubmit)="onSubmit()" class="fl fl-dc g-15">
        @if(formSent()) {
        <div class="fl fl-dc fl-cc g-10">
          <ui-icon
            name="checkDoubleLine"
            size="50px"
            gradient="#d174ff, #a1a0ff"
          />
          <div class="callout-text m-t-10 m-auto t-c">
            Your request successfully sent! <br />
            Our managers will answer as soon as possible.
          </div>
        </div>
        } @else {
        <app-combobox
          [options]="countries"
          [emitMode]="'object'"
          [searchable]="true"
          [color]="'cl-g-' + gradient()"
          [placeholder]="'Select your country'"
          formControlName="country"
        >
          <ng-template #optionTpl let-o let-selected>
            <span class="fl g-10" [style.opacity]="selected ? 1 : 0.8">
              <img
                width="20px"
                class="ico"
                [src]="o.flag"
                alt="flag {{ o.value }}"
                loading="lazy"
              />
              <span class="lbl">{{ o.value }}</span>
            </span>
          </ng-template>

          <ng-template #valueTpl let-o let-selected>
            @if (o) {
            <span
              class="fl g-10 select-placeholder"
              [class.selected]="selected"
            >
              <img width="20px" class="ico" [src]="o.flag" alt="" />
              <span class="lbl">{{ o.value }}</span>
            </span>
            } @else {
            <span class="select-placeholder">Select your country</span>
            }
          </ng-template>
        </app-combobox>

        <input
          app-input
          type="text"
          placeholder="Your name"
          formControlName="name"
        />

        <div class="form-group">
          <app-radio-group
            formControlName="formatContact"
            orientation="horizontal"
          >
            <app-radio-item value="telegram">Telegram</app-radio-item>
            <app-radio-item value="email">Email</app-radio-item>
          </app-radio-group>
          <input
            app-input
            type="text"
            [placeholder]="'Your ' + form.controls.formatContact.value"
            formControlName="contact"
          />
        </div>
        <textarea
          app-textarea
          placeholder="Describe your project"
          formControlName="message"
        ></textarea>

        <button
          class="btn g-bg g-a w-100 m-t-10"
          [class]="'cl-g-' + gradient()"
          type="submit"
          [disabled]="form.invalid || isSubmitting()"
        >
          Send approximate Brief!
        </button>
        <div class="callout-text m-auto t-c fz-sm">
          By clicking the button, you agree to <br />
          our
          <a href="#" class="link accent">privacy policy</a>
          and <a href="#" class="link accent">terms</a> of data transfer.
        </div>
        }
      </form>
    </div>
  </div>
</section>
