<section class="sc">
  <div class="container">
    <div class="content fl fl-dc">
      <h3 class="title fw-9">
        Turn your <span class="t-gr cl-g-green-5 fw-8">brilliant</span> ideas
        into real <span class="t-gr cl-g-blue-5 fw-8">blockchain</span>
        <span class="t-gr cl-g-pink-3 fw-8"> projects</span>.*
      </h3>
      <p class="text op-7 fw-6">
        *Don’t waste your time! Fill the form and let’s work start
      </p>
      <div class="btn-wrap fl">
        <button class="btn g-30 fw-9">
          Let’s do it! <span class="arrow fl"></span>
        </button>
      </div>
    </div>
  </div>
</section>
