@use "../../../../../styles/mixins/mixins.scss" as mx;

.content {
  padding: 100px 50px 50px 50px;

  border-radius: 40px;
  border: 3px solid #52525d;
  background: linear-gradient(90deg, #12121a, #2c2c3b);

  @include mx.b(tablet) {
    align-items: center;
    text-align: center;
    gap: 20px;
  }

  @include mx.b(mobile) {
    padding: 50px 30px;
  }

  @include mx.b(400) {
    padding: 50px 20px 30px 20px;
  }

  .title {
    width: 100%;
    max-width: 600px;
    font-size: 48px;

    @include mx.b(desktop) {
      font-size: 32px;
      max-width: 400px;
    }

    @include mx.b(tablet) {
      font-size: 42px;
      max-width: 550px;
    }

    @include mx.b(mobile) {
      font-size: 32px;
    }

    @include mx.b(400) {
      font-size: 28px;
    }
  }

  .text {
    margin-top: 50px;
    font-size: 20px;

    @include mx.b(desktop) {
      font-size: 16px;
    }

    @include mx.b(desktop) {
      margin-top: 30px;
    }

    @include mx.b(mobile) {
      font-size: 14px;
      margin-top: 10px;
    }
  }

  .btn-wrap {
    justify-content: flex-end;
    width: 100%;
    margin-top: -15px;

    @include mx.b(desktop) {
      margin-top: 15px;
    }

    @include mx.b(tablet) {
      justify-content: center;
    }
  }

  .btn {
    --btn-bgc-rgb: 255, 255, 255;

    width: 100%;
    max-width: 300px;

    padding: 25px 30px;

    font-size: 24px;
    white-space: nowrap;

    color: black;

    @include mx.b(desktop) {
      gap: 15px;
      max-width: 200px;
      padding: 15px 20px;
      font-size: 18px;
    }

    @include mx.b(tablet) {
      max-width: 450px;
    }
  }

  .arrow {
    flex-direction: row-reverse;
    align-items: center;

    width: 100%;
    height: 3px;

    border-radius: 10em;
    background: black;

    @include mx.b(tablet) {
      display: none;
    }

    &::after {
      content: "";

      width: 15px;
      height: 15px;

      border-top: 3px solid #000;
      border-right: 3px solid #000;

      transform: rotate(45deg);
    }
  }
}
