<button
  class="ngp-switch"
  type="button"
  [class.ngp-switch--appearance-success]="appearance() === 'success'"
  [class.ngp-switch--appearance-danger]="appearance() === 'danger'"
  [ngpSwitchChecked]="currentValue()"
  [ngpSwitchDisabled]="isDisabled()"
  (ngpSwitchCheckedChange)="onPrimitiveChange($event)"
  (focusout)="handleBlur()"
  ngpSwitch
>
  <span ngpSwitchThumb class="ngp-switch__thumb"></span>
  @if (label()) {
    <span class="ngp-switch__label">{{ label() }}</span>
  }
</button>
