@use "../../../../../styles/mixins/mixins.scss" as mx;

.tab {
  cursor: pointer;
  opacity: 0.5;
  transition: 0.3s ease-in-out;
  line-height: 1;

  &:hover {
    opacity: 0.7;
  }

  &.active {
    opacity: 1;
  }
}

.list {
  margin-top: 50px;
  margin-bottom: 100px;
  transition: 0.3s ease-in-out;
}

.item {
  position: relative;
  max-width: 380px;
  width: 100%;
  padding: 20px 30px;
  border-radius: 20px;
  border: 1px solid #29293f;
  border-bottom-width: 5px;
  background-color: #171721;
  transition: 0.3s ease-in-out;
  overflow: hidden;

  .fl {
    z-index: 1;
  }

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle at top left, var(--item-cl), #171721);
    opacity: 0;
    z-index: 0;
    transition: 0.3s ease-in-out;
  }

  &:hover {
    border-color: var(--border-cl);

    &:before {
      opacity: 1;
    }

    .chain {
      background: var(--border-cl);
    }
  }

  .chain {
    height: 40px;
    min-width: 40px;
    width: max-content;
    border-radius: 10px;
    padding: 0 10px;
    background-color: #29293f;
  }
}

.chip {
  padding: 8px 12px;
  border: 0.5px solid var(--cl-accent);
  border-bottom-width: 2px;
  border-radius: 5px;
}
