<section class="sc">
  <div class="container">
    <div class="section-head left g-20">
      <h2 class="title s-md t-u">
        Networks <br />
        & Multichain Coverage
      </h2>
      <span class="sub-text s-md">
        Mainnet & testnet ready. Seamless chain switching, per-chain contract
        mapping, explorer deep links.
      </span>
    </div>

    <div class="content">
      @for (item of data; track $index) {
        <div
          class="item fl g-20"
          [attr.style]="'--cl-1:' + item.color[0] + ';--cl-2:' + item.color[1]"
          [class.item-hidden]="$index >= visibleCount()"
        >
          <ui-icon
            [gradient]="['var(--icon-cl-1)', 'var(--icon-cl-2)']"
            [name]="item.icon"
            size="var(--icon-size)"
          />
          <div class="fl fl-dc g-5">
            <h3 class="title">{{ item.title }}</h3>
            <p class="text op-7">{{ item.text }}</p>
          </div>
        </div>
      }

      <button
        class="btn fw-6 fz-sm load-more"
        (click)="allVisible() ? hideExtra() : showMore()"
      >
        {{ allVisible() ? "Hide more" : "Show more" }}
      </button>
    </div>

    <ui-info-block
      [title]="`Can't find your network?`"
      accent="Don't worry"
      text="tell us which network you use and we'll add it for you!"
      btnText="I have another network!"
      color="mist-1"
      (btnClick)="goTo('brief')"
    />
  </div>
</section>
