@use "../../../../../styles/mixins/mixins.scss" as mx;

.content {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(var(--sc-network-width, 286px), 1fr)
  );
  justify-content: center;
  grid-gap: 20px;

  transition: 0.3s ease-in-out;

  @include mx.b(desktop) {
    gap: 15px;
  }

  @include mx.b(tablet) {
    --sc-network-width: 250px;
    grid-gap: 15px;
  }

  @include mx.b(mobile) {
    // --sc-network-width: 170px;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    margin-bottom: 60px;
  }

  @include mx.b(500) {
    grid-template-columns: 1fr;
  }
}

.section-head {
  @include mx.b(mobile) {
    margin: 0 auto;
    text-align: center;
  }

  .title {
    @include mx.b(mobile) {
      font-size: 26px;
    }
  }
}

.item {
  // --icon-cl-1: #fff;
  // --icon-cl-2: #fff;

  --icon-size: 50px;
  --icon-cl-1: var(--cl-1);
  --icon-cl-2: var(--cl-2);

  position: relative;
  align-items: flex-start;
  max-width: 100%;
  width: 100%;
  padding: 20px;
  border-radius: 15px;
  border: 1px solid #29293f;
  background-color: #171721;
  transition: 0.3s ease-in-out;
  overflow: hidden;

  @include mx.b(desktop) {
    --icon-size: 40px;
    gap: 10px;
    padding: 15px;
  }

  @include mx.b(mobile) {
    padding: 20px 15px;
  }

  &-hidden {
    @include mx.b(mobile) {
      display: none;
    }
  }

  .title {
    @include mx.b(desktop) {
      font-size: clamp(18px, 2vw, 20px);
    }

    @include mx.b(mobile) {
      font-size: 16px;
      width: 100%;
    }
  }

  .text {
    line-height: 1.25;

    @include mx.b(desktop) {
      // font-size: clamp(14px, 1.6vw, 16px);
      font-size: 14px;
      line-height: 1.4;
      font-weight: 600;
    }

    @include mx.b(mobile) {
      font-size: 14px;
    }
  }

  .fl {
    z-index: 1;
  }

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle at top left, var(--cl-2), #171721);
    opacity: 0;
    z-index: 0;
    transition: 0.3s ease-in-out;
  }

  &:hover {
    // --icon-cl-1: var(--cl-1);
    // --icon-cl-2: var(--cl-2);
    border-color: var(--cl-1);

    &:before {
      opacity: 1;
    }
  }

  .chain {
    height: 40px;
    min-width: 40px;
    width: max-content;
    border-radius: 10px;
    padding: 0 10px;
    background-color: #29293f;
  }
}

.load-more {
  display: none;

  max-width: 100%;
  // margin: 0;
  // border-radius: 0;
  // color: white;
  // opacity: 0.5;

  // &:hover {
  //   color: #d174ff;
  //   opacity: 1;
  // }

  @include mx.b(mobile) {
    display: flex;
  }
}
