<div
  class="ngp-tabs"
  [class.ngp-tabs--appearance-pill]="appearance() === 'pill'"
  [class.ngp-tabs--appearance-cards]="appearance() === 'cards'"
  [class.ngp-tabs--appearance-underlined]="appearance() === 'underlined'"
  [class.ngp-tabs--orientation-vertical]="orientation() === 'vertical'"
  [class.ngp-tabs--stretch]="stretch()"
>
  <div
    class="ngp-tabs__container"
    [ngpTabsetValue]="currentValue()"
    [ngpTabsetOrientation]="orientation()"
    [ngpTabsetActivateOnFocus]="activateOnFocus()"
    (ngpTabsetValueChange)="onPrimitiveChange($event)"
    (focusout)="handleBlur()"
    ngpTabset
  >
    <div class="ngp-tabs__list" ngpTabList>
      @for (tab of tabsList(); track trackTab($index, tab)) {
        <button
          class="ngp-tabs__tab"
          [class.ngp-tabs__tab--disabled]="tab.disabled"
          [ngpTabButtonValue]="tab.value"
          [ngpTabButtonDisabled]="tab.disabled"
          ngpTabButton
          type="button"
        >
          @if (tab.icon) {
            <span class="ngp-tabs__icon" aria-hidden="true">{{ tab.icon }}</span>
          }
          <span class="ngp-tabs__label">{{ tab.label }}</span>
          @if (tab.badge) {
            <span class="ngp-tabs__badge">{{ tab.badge }}</span>
          }
        </button>
      }
    </div>

    @for (tab of tabsList(); track trackTab($index, tab)) {
      <div class="ngp-tabs__panel" [ngpTabPanelValue]="tab.value" ngpTabPanel>
        <ng-container *ngTemplateOutlet="tab.template"></ng-container>
      </div>
    }
  </div>
</div>
