@if (open()) {
  <div
    class="ngp-dialog"
    [attr.data-animation]="animation()"
    ngpDialogOverlay
    [ngpDialogOverlayCloseOnClick]="false"
    (click)="onOverlayClick($event)"
  >
    <div
      #surface
      class="ngp-dialog__surface"
      ngpDialog
      (click)="$event.stopPropagation()"
    >
      @if (config()?.closeButton !== false) {
        <button
          type="button"
          class="ngp-dialog__close"
          (click)="close()"
          aria-label="Закрыть диалог"
        >
          ✕
        </button>
      }

      @if (heading || subheading) {
        <header class="ngp-dialog__header">
          @if (heading) {
            <h2 class="ngp-dialog__title" ngpDialogTitle>{{ heading }}</h2>
          }
          @if (subheading) {
            <p class="ngp-dialog__subtitle" ngpDialogDescription>{{ subheading }}</p>
          }
        </header>
      }

      <section class="ngp-dialog__body">
        <ng-content></ng-content>
        <ng-container #dynamicHost></ng-container>
      </section>

      @if (buttons().length) {
        <footer class="ngp-dialog__footer">
          @for (button of buttons(); track button.label) {
            <button
              type="button"
              class="ngp-dialog__footer-button"
              [class.ngp-dialog__footer-button--primary]="button.appearance === 'primary'"
              [class.ngp-dialog__footer-button--danger]="button.appearance === 'danger'"
              [class.ngp-dialog__footer-button--link]="button.appearance === 'link'"
              [disabled]="button.disabled"
              (click)="onButtonClick(button)"
            >
              {{ button.label }}
            </button>
          }
        </footer>
      }
    </div>
  </div>
}
