<div
  class="ngp-select"
  [class.ngp-select--open]="open()"
  [class.ngp-select--disabled]="isDisabled()"
  [ngpSelectValue]="value()"
  [ngpSelectDisabled]="isDisabled()"
  [ngpSelectCompareWith]="compareFn()"
  (ngpSelectValueChange)="onPrimitiveChange($event)"
  (ngpSelectOpenChange)="onOpenChange($event)"
  (focusout)="handleBlur()"
  ngpSelect
>
  <div class="ngp-select__main">
    @if (currentSelected(); as option) {
      <span class="ngp-select__value">{{ option.label }}</span>
      @if (option.hint) {
        <span class="ngp-select__value-hint">{{ option.hint }}</span>
      }
    } @else {
      <span class="ngp-select__placeholder">{{ placeholder() }}</span>
    }
  </div>

  @if (clearable() && currentSelected()) {
    <button
      type="button"
      class="ngp-select__clear"
      (click)="onClear($event)"
      aria-label="Очистить"
    >
      ✕
    </button>
  }

  <span class="ngp-select__chevron" aria-hidden="true"></span>

  <div *ngpSelectPortal ngpSelectDropdown class="ngp-select__dropdown">
    @if (hasGroups()) {
      @for (group of groupedOptions(); track group.label) {
        <div class="ngp-select__group">
          <div class="ngp-select__group-label">
            {{ group.label }}
            @if (group.description) {
              <span class="ngp-select__group-description">{{ group.description }}</span>
            }
          </div>

          @for (option of group.options; track option.value ?? option.label) {
            <div
              class="ngp-select__option"
              [class.ngp-select__option--with-hint]="option.hint"
              [ngpSelectOptionValue]="option.value"
              [ngpSelectOptionDisabled]="option.disabled"
              ngpSelectOption
            >
              <span class="ngp-select__option-label">{{ option.label }}</span>
              @if (option.hint) {
                <span class="ngp-select__option-hint">{{ option.hint }}</span>
              }
            </div>
          }
        </div>
      }
    } @else {
      @for (option of flatOptions(); track option.value ?? option.label) {
        <div
          class="ngp-select__option"
          [class.ngp-select__option--with-hint]="option.hint"
          [ngpSelectOptionValue]="option.value"
          [ngpSelectOptionDisabled]="option.disabled"
          ngpSelectOption
        >
          <span class="ngp-select__option-label">{{ option.label }}</span>
          @if (option.hint) {
            <span class="ngp-select__option-hint">{{ option.hint }}</span>
          }
        </div>
      }
    }
  </div>
</div>
