@use "../../../../../styles/mixins/mixins.scss" as mx;

.section-head {
  --sc-bottom: 150px;

  @include mx.b(mobile) {
    --sc-bottom: 80px;
  }
}

.container {
  background: radial-gradient(
    circle,
    rgba(225, 0, 255, 0.1254901961) 10%,
    rgb(18 18 26) 70%
  );
}

.content {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(var(--sc-process-width, 225px), 1fr)
  );
  justify-content: center;
  grid-gap: 150px 105px;
  margin-bottom: 150px;

  @include mx.b(desktop) {
    grid-gap: 150px 30px;
  }

  @include mx.b(tablet) {
    grid-gap: 120px 10px;
    --sc-process-width: 250px;
  }

  @include mx.b(mobile) {
    grid-gap: 30px;
    grid-template-columns: 1fr;
    margin-bottom: 80px;
  }
}

.item {
  position: relative;
  justify-content: end;
  max-width: 100%;
  width: 100%;
  transition: 0.3s ease-in-out;
  gap: 20px;

  .info {
    max-width: 240px;
    width: 100%;

    @include mx.b(mobile) {
      max-width: 100%;
      gap: 5px;
    }
  }

  &:before {
    content: attr(data-number);
    font-family: var(--title-font);
    position: absolute;
    top: -20px;
    left: 0;
    font-size: 250px;
    font-weight: 700;
    line-height: 0.75;
    color: transparent;
    -webkit-text-stroke: 2px #fff;
    opacity: 0.2;
    transition: 0.3s ease-in-out;

    @include mx.b(mobile) {
      position: relative;
      font-size: 100px;
      min-width: 60px;
      top: 0px;
    }
  }

  &:hover {
    &:before {
      color: #ffffff;
    }

    .title {
      opacity: 1;
    }

    .text {
      opacity: 0.8;
    }
  }

  .title {
    transition: 0.3s ease-in-out;
    opacity: 0.8;

    @include mx.b(mobile) {
      font-size: 20px;
    }
  }

  .text {
    transition: 0.3s ease-in-out;
    opacity: 0.5;

    @include mx.b(mobile) {
      font-size: 14px;
    }
  }
}
