@use "../../../../../styles/mixins/mixins.scss" as mx;

.section-head {
  --sc-bottom: 150px;
}

.container {
  background: radial-gradient(
    circle,
    rgba(225, 0, 255, 0.1254901961) 10%,
    rgb(18 18 26) 70%
  );
}

.content {
  gap: 100px;
  margin-bottom: 150px;
}

.item {
  position: relative;
  justify-content: end;
  max-width: 330px;
  width: 100%;
  transition: 0.3s ease-in-out;

  .info {
    max-width: 240px;
    width: 100%;
  }

  &:before {
    content: attr(data-number);
    font-family: var(--title-font);
    position: absolute;
    top: -20px;
    left: 0;
    font-size: 250px;
    font-weight: 700;
    line-height: 0.75;
    color: transparent;
    -webkit-text-stroke: 2px #fff;
    opacity: 0.2;
    transition: 0.3s ease-in-out;
  }

  &:hover {
    &:before {
      color: #ffffff;
    }

    .title {
      opacity: 1;
    }

    .text {
      opacity: 0.8;
    }
  }

  .title {
    transition: 0.3s ease-in-out;
    opacity: 0.8;
  }

  .text {
    transition: 0.3s ease-in-out;
    opacity: 0.5;
  }
}
