@use "../../../../../styles/mixins/mixins.scss" as mx;

.content {
  position: relative;

  padding: 50px 30px;

  border-radius: 80px;
  border: 4px solid var(--cl-accent);

  background-color: #171721;
  box-shadow: 0 0 50px -5px rgba(var(--cl-accent-rgb), 0.4);

  overflow: hidden;
  z-index: 1;

  @include mx.b(tablet) {
    padding: 40px 15px;
    border-radius: 60px;
    border-width: 3px;
  }

  @include mx.b(mobile) {
    padding: 30px 15px;
    border-radius: 50px;
    border-width: 2px;
  }

  @include mx.b(380) {
    padding: 20px 15px;
    border-radius: 30px;
  }

  &:before {
    content: "";

    position: absolute;
    bottom: -30px;
    left: 0;

    width: 100%;
    height: 45%;

    background: radial-gradient(
      ellipse at center bottom,
      var(--cl-accent) 0%,
      transparent 70%
    );
    filter: blur(20px);

    transition: 0.3s ease-in-out;
    z-index: -1;
    pointer-events: none;
  }
}

.product-banner {
  position: relative;
  max-width: 550px;

  padding: 30px 0;
  margin: 0 auto;

  @include mx.b(mobile) {
    max-width: 380px;
  }

  .title {
    font-size: 30px;
    line-height: 1.3;

    @include mx.b(mobile) {
      font-size: clamp(22px, 6.5vw, 35px);
    }

    .accent {
      font-size: 36px;

      @include mx.b(mobile) {
        font-size: clamp(26px, 8vw, 40px);
      }
    }
  }

  .text {
    font-size: 20px;

    @include mx.b(mobile) {
      font-size: 16px;
    }
  }

  .features {
    width: 100%;
    margin-top: 10px;

    &-title {
      width: 100%;
      white-space: nowrap;

      @include mx.b(mobile) {
        font-size: 14px;
      }

      &::after,
      &::before {
        content: "";
        display: flex;

        width: 100%;
        height: 3px;

        border-radius: 10em;
        background-color: #ffffff10;
      }
    }

    &-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 5px;
    }
  }

  .feature {
    &-item {
      width: max-content;
      padding: 10px;

      font-size: 14px;
      font-weight: 700;

      border-radius: 5px;

      background-color: #1f1f2a33;
      color: #d2d2d4;

      @include mx.b(mobile) {
        padding: 5px 7px;
        font-size: 12px;
        font-weight: 600;
      }
    }
  }
}

.product-badge {
  width: max-content;
  gap: 7px;

  line-height: 1.2;
  padding: 6px 15px;
  border-radius: 10em;

  background-color: rgba(var(--cl-accent-rgb), 0.2);
  color: var(--cl-accent);

  @include mx.b(mobile) {
    font-size: 14px;
  }
}
