<section class="sc">
  <div class="container">
    <div class="content cl-g-blue-5">
      <div class="product-banner fl fl-dc fl-cc t-c g-20">
        <div class="product-badge fl fl-cc fw-7">
          <ui-icon class="product-icon" name="connectorFill" size="20px" />
          Smart-contracts
        </div>

        <h2 class="title t-u fw-8">
          <span class="op-7">Frontend </span>
          <div class="accent fw-9 t-gr">that understand</div>
          smart-contracts
        </h2>

        <p class="text fw-6 op-7">
          We don’t write production contracts — we turn contract logic into a
          usable product interface.
        </p>
        <p class="accent fw-7 t-gr">
          You focus on business logic. We make it usable for real users.
        </p>

        <div class="features fl fl-dc g-15">
          <div class="features-title fl fl-cc g-15 op-8 fw-7">
            <span>Features <span class="op-6">you will get</span></span>
          </div>
          <div class="features-list fl fl-w g-5">
            <div class="feature-item">Demo contracts for testing</div>
            <div class="feature-item">Frontend ready for contracts</div>
            <div class="feature-item">Easy replacement after audit</div>
            <div class="feature-item">Optional support contract updates</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
