@use "../../../../styles/mixins/mixins.scss" as mx;

:host {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 550px;
  margin: 0 auto;
  width: 100%;
  border-radius: 15px;
  padding: 20px 30px;
  background-color: #1f1f2a;
  color: #808095;
}
