@use "../../../../styles/mixins/mixins.scss" as mx;

:host {
  display: flex;
  align-items: center;
  justify-content: center;

  max-width: 550px;
  width: 100%;

  margin: 0 auto;
  padding: 20px 30px;
  border-radius: 15px;

  background-color: #1f1f2a;
  color: #808095;
}
