@use "../../../../../styles/mixins/mixins.scss" as mx;

.content {
  justify-content: center;
  margin-bottom: 100px;
}

.item {
  position: relative;
  max-width: 330px;
  width: 100%;
  min-height: 240px;
  padding: 20px;

  border: 2px solid #29293f;
  border-radius: 20px;
  background: #171721;
  transition: 0.3s ease-in-out;
  overflow: hidden;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #171721, #32223f);
    transition: 0.3s ease-in-out;
    opacity: 0;
    z-index: 0;
  }

  &:hover {
    &:before {
      opacity: 1;
    }
  }

  .info {
    position: relative;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    z-index: 1;
  }

  .title {
    margin-top: 10px;
  }

  .text {
    max-width: 250px;
  }
}
