@use "../../../../../styles/mixins/mixins.scss" as mx;

.content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  justify-content: center;
  grid-gap: 20px;
  max-width: 1050px;
  margin: 0 auto;
  margin-bottom: 100px;

  @include mx.b(mobile) {
    grid-gap: 10px;
    margin-bottom: 60px;
  }
}

.item {
  align-items: center;
  justify-content: center;

  position: relative;
  max-width: 100%;
  width: 100%;
  min-height: 240px;
  padding: 20px;

  border: 2px solid #29293f;
  border-radius: 20px;
  background: #171721;
  transition: 0.3s ease-in-out;
  overflow: hidden;

  --offer-icon-size: 50px;

  @include mx.b(mobile) {
    --offer-icon-size: 30px;
    flex-direction: row;
    align-items: baseline;
    justify-content: flex-start;
    min-height: max-content;
    gap: 20px;
  }

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #171721, #32223f);
    transition: 0.3s ease-in-out;
    opacity: 0;
    z-index: 0;
  }

  &:hover {
    &:before {
      opacity: 1;
    }
  }

  ui-icon {
    z-index: 1;
  }

  .info {
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 1;

    @include mx.b(mobile) {
      align-items: baseline;
      justify-content: flex-start;
      text-align: left;
      gap: 5px;
    }
  }

  .title {
    margin-top: 10px;

    @include mx.b(mobile) {
      font-size: 18px;
      margin-top: 0;
    }
  }

  .text {
    max-width: 250px;

    @include mx.b(mobile) {
      max-width: max-content;
      font-size: 14px;
    }
  }
}
