<section class="sc">
  <div class="container">
    <div class="section-head">
      <h2 class="title s-xl">What we offer</h2>
      <span class="sub-text">
        We cover the entire Web3 front-end: from wallet onboarding to release
        and source code transfer. Below is the basic set that you get by
        default.
      </span>
    </div>

    <div class="products">
      @for (item of dataProduct; track $index) {
      <div class="item product fl fl-dc g-10">
        <ui-icon
          [gradient]="'#D174FF,#A1A0FF'"
          [name]="item.icon"
          size="var(--offer-icon-size)"
        />
        <div class="info fl fl-dc g-10">
          <h4 class="title fw-7">{{ item.title }}</h4>
          <p class="text fw-5 op-5">{{ item.text }}</p>
          <div class="btn m-t-10">
            <span class="cl-g-purple-2 fw-6 t-u t-gr">view more</span>
          </div>
        </div>
      </div>
      }
    </div>

    <div class="content">
      <div class="content-head">
        <h3 class="title m-auto s-sm fw-9">Web3 features</h3>
        <p class="t-c m-t-10 fz-md op-7">Web3 & UX features built-in</p>
      </div>

      <div class="list m-t-20">
        @for (item of data; track $index) {
        <div class="item features fl fl-dc g-10">
          <ui-icon
            [gradient]="'#D174FF,#A1A0FF'"
            [name]="item.icon"
            size="var(--offer-icon-size)"
          />
          <div class="info fl fl-dc g-10">
            <h4 class="title fw-7">{{ item.title }}</h4>
            <p class="text fw-5 op-5">{{ item.text }}</p>
            <div class="btn m-t-10">
              <span class="cl-g-purple-2 fw-6 t-u t-gr">view more</span>
            </div>
          </div>
        </div>
        }
      </div>
    </div>

    <ui-callout>
      <span class="t-c fz-sm">
        Contracts for production are on the client side.
        <br />
        We use testnet for the prototype.
      </span>
    </ui-callout>
  </div>
</section>
