@use "../../../../../styles/mixins/mixins.scss" as mx;

.content {
  max-width: 1050px;
  margin: 0 auto;
  margin-bottom: 100px;

  @include mx.b(mobile) {
    margin-bottom: 60px;
  }

  &-head {
    margin-top: 100px;
    margin-bottom: 50px;
  }

  .list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(265px, 1fr));
    justify-content: center;
    // grid-gap: 20px;

    @include mx.b(mobile) {
      grid-gap: 10px;
      margin-bottom: 60px;
    }
  }
}

.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  border: 2px solid #29293f;
  border-radius: 20px;

  box-shadow: 0px 8px 0px 0px #29293f;
  background: #171721;
  overflow: hidden;

  @include mx.b(mobile) {
    grid-gap: 10px;
    grid-template-columns: 1fr;
  }
}

.product {
  --offer-icon-size: 50px;

  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 300px;

  @include mx.b(mobile) {
    --offer-icon-size: 30px;

    flex-direction: row;
    align-items: baseline;
    justify-content: flex-start;
    min-height: max-content;
  }

  .text {
    max-width: 350px;

    @include mx.b(mobile) {
      max-width: max-content;
      font-size: 14px;
    }
  }
}

.features {
  // border: 2px solid #29293f;
  border-radius: 20px;
  // background: #171721;
  transition: 0.3s ease-in-out;
  min-height: 240px;
  // overflow: hidden;

  // &:before {
  //   content: "";
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   height: 100%;
  //   background: linear-gradient(180deg, #171721, #32223f);
  //   transition: 0.3s ease-in-out;
  //   opacity: 0;
  //   z-index: 0;
  // }

  .text {
    max-width: 250px;

    @include mx.b(mobile) {
      max-width: max-content;
      font-size: 14px;
    }
  }
}

.item {
  align-items: center;
  justify-content: center;

  position: relative;
  max-width: 100%;
  width: 100%;
  padding: 30px 20px;

  --offer-icon-size: 50px;

  @include mx.b(mobile) {
    --offer-icon-size: 30px;
    flex-direction: row;
    align-items: baseline;
    justify-content: flex-start;
    min-height: max-content;
    gap: 20px;
  }

  &:hover {
    .btn {
      --btn-bgc-opacity: 0.1;

      .t-gr {
        -webkit-text-fill-color: transparent;
      }
    }

    cursor: pointer;
    background: #171721;

    // &:before {
    //   opacity: 1;
    // }
  }

  ui-icon {
    z-index: 1;
  }

  .info {
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 1;

    @include mx.b(mobile) {
      align-items: baseline;
      justify-content: flex-start;
      text-align: left;
      gap: 5px;
    }
  }

  .title {
    margin-top: 10px;

    @include mx.b(mobile) {
      font-size: 18px;
      margin-top: 0;
    }
  }

  .btn {
    --btn-bgc-opacity: 0;
    --btn-bgc-opacity-hover: 0.15;

    padding: 7px 15px;
    border-radius: 7px;

    .t-gr {
      -webkit-text-fill-color: initial;
    }
  }
}
