@use "../../../../../styles/mixins/mixins.scss" as mx;

.content {
  border-radius: 25px;
  border: 2px solid #353540;
  overflow: hidden;
  transition: 0.3s ease-in-out;

  // &:hover {
  // border-color: #6e3e87;
  // }
}

details {
  padding: 30px 40px;
  background-color: #1f1f2a;
  border-bottom: 2px solid #353540;
  transition: 0.3s ease-in-out;
  cursor: pointer;

  &:last-child {
    border-bottom-color: transparent;
    border-radius: 0 0 25px 25px;
  }

  &:hover {
    border-bottom-color: #d174ff;

    &:not([open]) {
      background-color: #21212f;
    }
  }

  summary {
    display: grid;
    grid-template-columns: 1fr 55px;
    align-items: center;
    grid-gap: 20px;
    opacity: 0.7;

    list-style: none;
    transition: 0.3s ease-in-out;

    &::-webkit-details-marker {
      display: none;
    }
  }

  &[open] {
    background-color: #242432;
    border-bottom: 10px solid #d174ff;

    summary {
      opacity: 1;
    }

    .icon {
      transform: rotate(45deg);
      color: #d174ff;
    }
  }

  .icon {
    transition: 0.3s ease-in-out;
  }

  .answer {
    transition: 0.3s ease-in-out;
    color: #808095;
  }
}

details[open] > *:not(summary) {
  animation: details-show 150ms ease-in-out;
}

@keyframes details-show {
  from {
    opacity: 0;
    transform: var(--details-translate, translateY(-0.5em));
  }
}

ui-form-question {
  display: block;
  margin: 0 auto;
  margin-top: 100px;
}
