@use "../../../../../styles/mixins/mixins.scss" as mx;

.section-head {
  @include mx.b(tablet) {
    --sc-bottom: 70px;
  }
}

.card {
  max-width: 1050px;
  width: 100%;
  margin: 0 auto;
  padding: 65px 50px;

  border-radius: 55px;
  border: 5px solid #29293f;
  border-bottom: 20px solid #29293f;
  background: linear-gradient(130deg, #12121a, #1f1f35);
  overflow: hidden;

  @include mx.b(tablet) {
    padding: 45px 25px;
    border-radius: 30px;
  }

  @include mx.b(mobile) {
    padding: 40px 20px;
  }
}

.items {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(var(--sc-why-width, 225px), 1fr)
  );
  justify-content: center;
  grid-gap: 20px;
}

.item {
  max-width: 100%;
  width: 100%;

  .icon {
    height: max-content;
    padding: 15px;
    border-radius: 15px;
    background-color: #212a4b;
  }

  .title {
    width: 100%;
  }
}

.ui-info-block {
  display: block;
  margin-top: 80px;
}
