@use "../../../../../styles/mixins/mixins.scss" as mx;
@use "../../../../../styles/tokens.scss" as tokens;

.container {
  --container-width: 1060px;
}

.list {
  display: grid;
  grid-template-columns: minmax(195px, 350px) repeat(2, minmax(255px, 1fr));
  gap: 20px;
  align-items: center;

  width: 100%;

  @include mx.b(desktop) {
    gap: 15px;
  }

  @include mx.b(tablet) {
    display: flex;
    flex-wrap: wrap;
    max-width: 650px;
    margin: 0 auto;
    gap: 30px 15px;
  }

  @include mx.b(mobile) {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &-title {
    padding-right: 30px;

    @include mx.b(900) {
      padding-right: 5px;
    }

    @include mx.b(tablet) {
      width: 100%;
      gap: 10px;
      padding-right: 0;
    }

    @include mx.b(mobile) {
      margin-top: 30px;
      margin-bottom: 30px;
      gap: 5px;
    }

    .title {
      @include mx.b(tablet) {
        font-size: 22px;
      }

      @include mx.b(mobile) {
        font-size: 18px;
      }
    }

    .text {
      @include mx.b(900) {
        font-size: 14px;
      }

      @include mx.b(tablet) {
        font-size: 16px;
        // max-width: 350px;
      }
    }

    .link {
      width: max-content;
      margin-top: 10px;

      @include mx.b(tablet) {
        margin-top: 0;
      }
    }
  }
}

.item {
  position: relative;
  width: 100%;

  padding: 3px;
  border-radius: 30px;

  background-color: #20202c;

  overflow: hidden;
  cursor: pointer;
  z-index: 1;

  @include mx.b(tablet) {
    flex: 1 1 30%;
  }

  @include mx.b(mobile) {
    border-radius: 15px;
    padding: 2px;
    flex: auto;
  }

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: linear-gradient(45deg, var(--cl-main), var(--cl-accent));
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
    z-index: -1;
  }

  &-wrap {
    padding-top: 10px;
    border-radius: 28px;
    background-color: #20202c;
    overflow: hidden;

    @include mx.b(mobile) {
      text-align: left;
      align-items: flex-start;
      border-radius: 14px;
      padding: 15px 20px;
      gap: 5px;
    }
  }

  .title {
    padding: 20px 15px;

    @include mx.b(desktop) {
      font-size: 18px;
    }

    @include mx.b(mobile) {
      width: 100%;
      padding: 0;
    }
  }

  .text {
    padding: 20px 15px;
    border-radius: 28px;
    background-color: #171721;

    @include mx.b(mobile) {
      background: none;
      padding: 0;
    }
  }

  &:hover {
    &::before {
      opacity: 0.5;
      transition: opacity 0.3s ease-in-out;
    }
  }

  &.selected {
    &::before {
      opacity: 1;
      transition: opacity 0.3s ease-in-out;
    }
  }
}

.ui-form-order {
  display: block;
}
