<section class="sc">
  <div class="container">
    <div class="section-head g-20">
      <h2 class="title s-md t-u">
        let’s <br />
        create project
      </h2>
      <span class="sub-text s-md">
        Clear tiers you can start with. Exact scope and quote after a short
        brief. Choose what project type you want to create.
      </span>
    </div>

    <div class="list">
      <div class="list-title fl fl-dc g-10">
        <h3 class="title fz-md">Select Type of project</h3>
        <p class="text fw-7 op-7">
          Feel free in your choice, we can change it in process.
        </p>
        <div class="link t-gr fw-7 cl-g-purple-5" (click)="openDialog()">
          Learn more about types
        </div>
      </div>

      @for (item of data; track $index) {
        <div
          [class]="'item cl-g-' + item.color"
          [class.selected]="selected() === $index"
          (click)="selected.set($index)"
        >
          <div class="item-wrap fl fl-dc fl-cc t-c">
            <h4 class="title" [class.t-gr]="selected() === $index">
              {{ item.title }}
            </h4>
            <p class="text op-7 fz-sm fw-6">{{ item.text }}</p>
          </div>
        </div>
      }
    </div>

    <ui-form-order
      [tier]="formData().tier"
      [gradient]="formData().color"
      [price]="formData().from"
      [tier]="formData().tier"
      [estimate]="formData().estimate"
      class="ui-form-order"
    />

    <ui-callout class="ui-callout">
      <span class="t-c fz-sm">
        We would like to remind you that we only deal with frontend development
        of blockchain projects. We do not write production code for smart
        contracts; you must do this on your own, and we will integrate it.
      </span>
    </ui-callout>

    <div class="callout-text m-t-20 m-auto t-c">
      Payment in stages: 50% at the start · 30% after the first demo · 20% upon
      release.
      <span class="link t-gr cl-g-purple-5" (click)="goTo('faq')"
        >More info in FAQ.</span
      >
    </div>
  </div>
</section>
