<fieldset
  class="ngp-radio-group"
  [class.ngp-radio-group--horizontal]="orientation() === 'horizontal'"
  [class.ngp-radio-group--size-sm]="size() === 'sm'"
  [class.ngp-radio-group--size-lg]="size() === 'lg'"
  [attr.aria-disabled]="isDisabled()"
>
  @if (legend()) {
    <legend class="ngp-radio-group__legend">{{ legend() }}</legend>
  }

  @if (description()) {
    <div class="ngp-radio-group__description">{{ description() }}</div>
  }

  <div
    class="ngp-radio-group__list"
    [ngpRadioGroupValue]="currentValue()"
    [ngpRadioGroupDisabled]="isDisabled()"
    [ngpRadioGroupOrientation]="orientation()"
    (ngpRadioGroupValueChange)="onPrimitiveChange($event)"
    (focusout)="handleBlur()"
    ngpRadioGroup
  >
    @for (option of optionsList; track trackOption($index, option)) {
      <button
        class="ngp-radio"
        [ngpRadioItemValue]="option.value"
        [ngpRadioItemDisabled]="isDisabled() || option.disabled"
        ngpRadioItem
        type="button"
      >
        <span ngpRadioIndicator class="ngp-radio__indicator">
          <span class="ngp-radio__dot"></span>
        </span>
        <span class="ngp-radio__label">
          {{ option.label }}
          @if (option.hint) {
            <span class="ngp-radio__hint">{{ option.hint }}</span>
          }
        </span>
      </button>
    }
  </div>
</fieldset>
