<main-header />

<!-- <section-hero-2 id="hero" />
<ui-arrow-line /> -->
<section-hero id="hero" />
<ui-arrow-line />
<section-benefits id="benefits" />
<ui-arrow-line />
<section-product id="product" />
<ui-arrow-line />
<section-about id="about" />
<ui-arrow-line />
<section-comparison id="comparison" />
<ui-arrow-line />
<section-showcase id="showcases" />
<ui-arrow-line />
<section-process id="process" />
<ui-arrow-line />
<section-networks id="networks" />
<ui-arrow-line />
<section-create-project id="brief" />
<ui-arrow-line />
<section-stack-tools id="stack-tools" />
<ui-arrow-line />
<section-faq id="faq" />
<ui-arrow-line />
<section-banner id="banner" />
<ui-arrow-line />

<main-footer />
