<button
  class="ngp-toggle"
  type="button"
  [class.ngp-toggle--appearance-solid]="appearance() === 'solid'"
  [class.ngp-toggle--appearance-outline]="appearance() === 'outline'"
  [class.ngp-toggle--selected]="currentValue()"
  [disabled]="isDisabled()"
  [ngpToggleSelected]="currentValue()"
  [ngpToggleDisabled]="isDisabled()"
  (ngpToggleSelectedChange)="onPrimitiveChange($event)"
  (focusout)="handleBlur()"
  ngpToggle
  ngpButton
>
  @if (icon()) {
    <span class="ngp-toggle__icon" aria-hidden="true">{{ icon() }}</span>
  }
  @if (displayLabel()) {
    <span class="ngp-toggle__label">{{ displayLabel() }}</span>
  }
  <ng-content></ng-content>
</button>
