<button
  type="button"
  class="ngp-toggle"
  [class.ngp-toggle--active]="value"
  [class.ngp-toggle--size-sm]="size === 'sm'"
  [class.ngp-toggle--size-lg]="size === 'lg'"
  [class.ngp-toggle--appearance-solid]="appearance === 'solid'"
  [class.ngp-toggle--appearance-outline]="appearance === 'outline'"
  [class.ngp-toggle--appearance-soft]="appearance === 'soft'"
  [disabled]="disabled"
  role="button"
  [attr.aria-pressed]="value"
  (click)="toggle()"
  (blur)="onBlur()"
>
  <span class="ngp-toggle__icon" *ngIf="icon" aria-hidden="true">
    {{ icon }}
  </span>
  <span class="ngp-toggle__label" *ngIf="displayLabel">
    {{ displayLabel }}
  </span>
  <ng-content></ng-content>
</button>
