@use "../../../../styles/mixins/mixins.scss" as mx;
@use "../../../../styles/tokens.scss" as tokens;

[ngpDialogOverlay] {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 15px;

  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);

  inset: 0;
  animation: fadeIn 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

[ngpDialogOverlay][data-exit] {
  animation: fadeOut 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

[ngpDialog] {
  position: relative;
  display: grid;
  grid-template-columns: minmax(300px, 360px) minmax(300px, 400px);
  grid-gap: 30px;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  max-width: 950px;
  max-height: 100%;

  padding: 50px;

  border-radius: var(--radius-xl, #{tokens.$radius-xl});
  border: 3px solid var(--cl-main, #fe70a1);

  box-shadow: var(--shadow-glow, #{tokens.$shadow-glow});
  background: linear-gradient(130deg, #12121a, var(--surface-500, #{tokens.$surface-500}));
  transition: 0.3s ease-in-out;
  overflow-x: hidden;
  overflow-y: scroll;

  animation: slideIn 300ms cubic-bezier(0.4, 0, 0.2, 1);

  @include mx.b(tablet) {
    grid-template-columns: 1fr;
    gap: 40px;
    padding: 40px;
  }

  @include mx.b(mobile) {
    padding: 40px 20px;
  }

  .head {
    .title {
      font-size: 45px;
      width: 100%;

      @include mx.b(tablet) {
        margin: 0 auto;
        font-size: 45px;
      }

      @include mx.b(mobile) {
        font-size: 30px;
      }
    }
  }

  .info {
    @include mx.b(tablet) {
      border-bottom: 2px dashed var(--surface-300, #{tokens.$surface-300});
      padding-bottom: 40px;
      text-align: center;
    }
  }
}

[ngpDialog][data-exit] {
  animation: slideOut 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes slideIn {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slideOut {
  0% {
    transform: translateY(0);
    opacity: 1;
  }

  100% {
    transform: translateY(-20px);
    opacity: 0;
  }
}

.dialog-close {
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 10px;
  border-radius: 0px 0px 0px 20px;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  z-index: 999;

  &:hover {
    opacity: 1;
  }
}

.ico {
  border-radius: 20px;
  overflow: hidden;
  object-fit: cover;
}

.form-group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px;

  @include mx.b(mobile) {
    grid-template-columns: 1fr;
  }
}
