<section class="sc">
  <div class="container">
    <div class="section-head g-10">
      <h2 class="title s-sm t-u">Stack and building tools</h2>
      <span class="sub-text fz-md">
        We don’t start from zero. Your project stands on years of battle-tested
        templates and tools.
      </span>
    </div>

    <div class="content">
      <div class="item">
        <ui-icon
          class="icon"
          name="angularjsFill"
          size="var(--icon-size)"
          gradient="#FC6A6D,#FF393D"
        />
        <h3 class="title">Angular 20+</h3>
        <p class="text fz-sm op-7 fw-6">
          Enterprise-grade framework with built-in routing, DI, SSR/SSG, forms
          and TypeScript by default. Stable choice for long-living fintech and
          Web3 apps.
        </p>
      </div>
      <div class="item">
        <ui-icon
          class="icon"
          name="shapesFill"
          size="var(--icon-size)"
          gradient="#6D90B9,#BBC7DC"
        />
        <h3 class="title">UI Kit</h3>
        <p class="text fz-sm op-7 fw-6">
          Design-token based UI library (CSS vars) with buttons, forms, tables,
          layouts, modals and toasts. Easy to re-skin with your brand colors and
          spacing.
        </p>
      </div>
      <div class="item">
        <ui-icon
          class="icon"
          name="typescriptFill"
          size="var(--icon-size)"
          gradient="#06B6D4,#3B82F6"
        />
        <h3 class="title">TypeScript</h3>
        <p class="text fz-sm op-7 fw-6">
          Enterprise-grade framework with built-in routing, DI, SSR/SSG, forms
          and TypeScript by default. Stable choice for long-living fintech and
          Web3 apps.
        </p>
      </div>
      <div class="item">
        <ui-icon
          class="icon"
          name="vercelFill"
          size="var(--icon-size)"
          gradient="#FFFFFF20,#FFFFFF"
        />
        <h3 class="title">Vercel & Supabase</h3>
        <p class="text fz-sm op-7 fw-6">
          Vercel: Preview deployments and easy rollbacks. <br />
          Supabase: Auth, database, file storage and edge functions for
          back-end.
        </p>
      </div>
    </div>

    <div class="callout-text m-auto t-c">
      Development is carried out using this technology stack. We can expand it
      to meet your needs.
    </div>
  </div>
</section>
