@use "./styles/mixins/mixins.scss" as mx;
@use "./styles/tokens.scss";
@use "./styles/ui.scss";

@import url("https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900");

:root {
  --title-font: "Inter", sans-serif;
  --text-font: "Inter", sans-serif;

  --body-bg-color: #12121a;
  --body-bg-color-rgb: 18, 18, 26;
  --body-text-color: #fff;
  --body-text-color-alt: #12121a;

  --accent-gray-color: #bababa;
  --accent-gray-color-rgb: 186, 186, 186;

  --text-color: var(--accent-gray-color);
  --text-color-rgb: var(--accent-gray-color-rgb);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  transition:
    color,
    background-color 0.3s ease-in-out;
}

#root,
#__next {
  isolation: isolate;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;

  font-family: var(--text-font);
  font-weight: normal;
  cursor: default;
  // padding-top: mx.rem(50);
  background: var(--body-bg-color);
  color: var(--body-text-color);
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
.title {
  overflow-wrap: break-word;
  font-family: var(--title-font);
}

a {
  text-decoration: none;
  transition: 0.2s ease-in-out;
  cursor: pointer;

  &.link {
    color: var(--cl-cmain);
    &:hover {
      color: var(--cl-caccent);
    }
  }
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}

.sc {
  position: relative;
}

.container {
  --container-width: #{mx.rem(1230)};

  position: relative;
  max-width: var(--container-width);
  width: 100%;

  display: flex;
  flex-direction: var(--container-direction, column);
  gap: var(--container-gap, 100px);

  margin: 0 auto;
  padding: mx.rem(15);

  // @include mx.b(desktop) {
  //   gap: var(--container-gap-desktop, 50px);
  // }

  @include mx.b(mobile) {
    padding: mx.rem(10);
    gap: var(--container-gap-mobile, 50px);
  }
}

// .container {
//   --container-width: #{mx.rem(1230)};

//   position: relative;
//   max-width: var(--container-width);
//   width: 100%;

//   margin: 0 auto;
//   padding: mx.rem(15);

//   @include mx.b(mobile) {
//     padding: mx.rem(10);
//   }
// }
