@use "sass:math";
@use "sass:color";

@mixin rem($size) {
  font-size: calc($size / 16) + rem;
}

@function rem($size) {
  @return calc($size / 16) + rem;
}

@mixin theme($name, $global: false) {
  @if $global {
    @at-root body##{$name} & {
      @content;
    }
  }

  &.#{$name} {
    @content;
  }
}

@mixin colors($colors, $wrapper: "base-ui") {
  @each $name, $color in $colors {
    .#{$wrapper} {
      .cl-#{$name},
      .ic-#{$name} {
        --cl-main: #{$color};
        --cl-main-rgb: #{HexToRGB($color)};

        --cl-accent: #{color.adjust($color, $lightness: -30%)};
        --cl-text: #{text-contrast($color)};
        --cl-text-rgb: #{HexToRGB(text-contrast($color))};

        @include theme("dark", true) {
          --cl-text: #{text-contrast(text-contrast($color))};
          --cl-text-rgb: #{HexToRGB(text-contrast(text-contrast($color)))};
        }
      }
    }
    :root {
      .#{$wrapper} {
        --cl-#{$name}: #{$color};
        --cl-#{$name}-rgb: #{HexToRGB($color)};
      }
    }
  }
}

@mixin gcolors($colors) {
  @each $name, $fcolor, $scolor in $colors {
    .cl-g-#{$name} {
      --cl-main: #{$fcolor};
      --cl-main-rgb: #{HexToRGB($fcolor)};

      --cl-accent: #{$scolor};
      --cl-accent-rgb: #{HexToRGB($scolor)};
      --cl-text-rgb: #{HexToRGB(text-contrast($fcolor))};
    }
  }
}

@function HexToRGB($color) {
  @return #{color.channel($color, "red", $space: rgb)},
    #{color.channel($color, "green", $space: rgb)},
    #{color.channel($color, "blue", $space: rgb)};
}

@function text-contrast($color) {
  @return if(color.channel($color, "lightness", $space: hsl) > 50%, #000, #fff);
}
