@use "../../../../../styles/mixins/mixins.scss" as mx;

:host {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999;
  left: 0;
}

.content {
  position: relative;
  width: max-content;
  margin: 0 auto;
  padding: 5px;
  border-radius: 10em;
  border: 2px solid #424242;
  overflow: hidden;

  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    // background-color: var(--body-bg-color);
    mask-image: linear-gradient(to bottom, black 0% 50%, #12121a 50% 100%);
    background: linear-gradient(to bottom, hsl(0deg 0% 0%) 0%, transparent 50%);
    backdrop-filter: blur(8px);
    pointer-events: none;
    z-index: -1;
  }
}

menu {
  padding: 0;
}

.btn {
  border-radius: 10em;
}

.logo {
  padding: 10px;
  border-radius: 10em;
  background-color: #fff;
  color: black;
}
