@use "../../../../../styles/mixins/mixins.scss" as mx;

:host {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

.content {
  --icon-size: 24px;

  position: relative;
  width: max-content;

  margin: 0 auto;
  padding: 5px;

  border-radius: 30px;
  border: 2px solid #424242;

  overflow: hidden;

  &::before {
    position: absolute;
    content: "";

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    mask-image: linear-gradient(to bottom, black 0% 50%, #12121a 50% 100%);
    background: linear-gradient(to bottom, hsl(0deg 0% 0%) 0%, transparent 50%);
    backdrop-filter: blur(8px);

    pointer-events: none;
    z-index: -1;
  }

  &.menu-opened {
    @include mx.b(650) {
      height: max-content;
    }
  }

  @include mx.b(650) {
    display: grid;
    grid-template-columns: max-content max-content;
    grid-template-areas: "bars button";
    grid-gap: 0px;

    width: 100%;
    transition: 0.3s ease-in-out;
  }
}

nav {
  padding: 0;

  @include mx.b(650) {
    display: flex;
    flex-direction: column;
    gap: 0;
    grid-column: 1 / 3;

    max-height: 0;
    padding: 0 15px;

    transition: max-height 0.2s ease-in-out;
    pointer-events: none;
    overflow: hidden;
  }

  .link {
    &:first-child {
      @include mx.b(650) {
        margin-top: 15px;
      }
    }

    &:last-child {
      @include mx.b(650) {
        margin-bottom: 15px;
      }
    }

    @include mx.b(650) {
      padding: 7px 0;
    }

    &.active {
      opacity: 1;
    }
  }
}

.btn {
  grid-area: button;
  padding: 10px 30px;

  font-size: 16px;
  font-weight: 700;

  border-radius: 10em;
}

.logo {
  padding: 10px;
  border-radius: 10em;

  background-color: #fff;
  color: black;

  @include mx.b(650) {
    display: none;
  }
}

.menu-bars {
  display: none;
  grid-area: bars;
  margin-left: 10px;

  @include mx.b(650) {
    display: flex;
  }
}

.menu-opened {
  @include mx.b(650) {
    nav {
      max-height: calc(100vh - 62px - 10px);
      transition: max-height 0.5s ease-in-out;
      pointer-events: auto;
    }
  }
}
