<header>
  <div class="container">
    <div class="content fl fl-sbc g-30">
      <div class="logo">
        <ui-icon name="amfiLogoFill" size="30px" />
      </div>
      <menu class="fl g-30">
        <a href="#" class="link fw-6">Home</a>
        <a href="#" class="link fw-6">About</a>
        <a href="#" class="link fw-6">Solutions</a>
        <a href="#" class="link fw-6">Brief</a>
        <a href="#" class="link fw-6">FAQ</a>
      </menu>
      <span class="btn fw-7 fz-md g-bg g-a cl-g-pink-1">Let's Talk</span>
    </div>
  </div>
</header>
