<fieldset
  class="ngp-checkbox-group"
  [class.ngp-checkbox-group--horizontal]="orientation() === 'horizontal'"
  [class.ngp-checkbox-group--size-sm]="size() === 'sm'"
  [class.ngp-checkbox-group--size-lg]="size() === 'lg'"
  [attr.aria-disabled]="isDisabled()"
>
  @if (legend()) {
    <legend class="ngp-checkbox-group__legend">{{ legend() }}</legend>
  }

  @if (description()) {
    <div class="ngp-checkbox-group__description">{{ description() }}</div>
  }

  <div class="ngp-checkbox-group__list">
    @for (option of optionsList; track trackOption($index, option)) {
      <button
        class="ngp-checkbox"
        [ngpCheckboxChecked]="isChecked(option)"
        [ngpCheckboxDisabled]="isDisabled() || option.disabled"
        (ngpCheckboxCheckedChange)="toggleOption(option)"
        (focusout)="handleBlur()"
        ngpCheckbox
        type="button"
      >
        <span class="ngp-checkbox__box">
          <span class="ngp-checkbox__check">✓</span>
        </span>
        <span class="ngp-checkbox__label">
          {{ option.label }}
          @if (option.hint) {
            <span class="ngp-checkbox__hint">{{ option.hint }}</span>
          }
        </span>
      </button>
    }
  </div>
</fieldset>
