<section class="sc">
  <div class="container">
    <div class="content">
      <div class="info">
        <div class="logo t-u fw-9">
          atomic<span class="t-gr cl-g-white-1 fw-6">
            <span class="logo-slash">\</span>web</span
          >
        </div>

        <h1 class="title fw-9 t-u">
          Build a Real
          <span class="t-gr cl-g-purple-5">Crypto Product</span>
          <span class="op-7">within a days not month</span>
        </h1>

        <p class="text fw-6 op-7 fz-lg">
          We turn your idea into a working crypto interface: wallets,
          transactions, smart-contracts and clean UX — ready to test, show
          investors, or launch.
        </p>

        <div class="btns fl g-30">
          <button class="btn fw-9 g-bg g-a use-bg cl-g-purple-5">
            Get a quote
          </button>
          <button class="btn fw-9">See our demos</button>
        </div>
      </div>

      <img class="img" src="./assets/img/hero-image.png" alt="" />
    </div>
  </div>
</section>
