@use "../../../../../styles/mixins/mixins.scss" as mx;

.sc {
  margin-top: 180px;
  overflow-x: clip;

  @include mx.b(tablet) {
    margin-top: 120px;
  }

  @include mx.b(mobile) {
    margin-top: 100px;
  }
}

.content {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-gap: 50px;

  align-items: center;
  justify-content: space-between;

  @include mx.b(tablet) {
    grid-template-columns: 1fr;
    gap: 100px;
  }
}

.info {
  @include mx.b(tablet) {
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}

.logo {
  font-size: 24px;

  @include mx.b(desktop) {
    font-size: 20px;
  }

  &-slash {
    font-size: 32px;

    @include mx.b(desktop) {
      font-size: 28px;
    }
  }
}

.title {
  margin-top: 10px;

  font-size: 84px;
  line-height: 1.2;

  @include mx.b(desktop) {
    font-size: 64px;
  }

  @include mx.b(mobile) {
    font-size: clamp(32px, 13vw, 45px);
  }

  .t-gr {
    font-size: 63px;
    font-weight: 800;

    @include mx.b(desktop) {
      font-size: 47px;
    }

    @include mx.b(mobile) {
      font-size: clamp(28px, 10vw, 40px);
    }
  }

  .op-7 {
    font-size: 41px;

    @include mx.b(desktop) {
      font-size: 31px;
    }

    @include mx.b(mobile) {
      font-size: clamp(18px, 6.4vw, 28px);
    }
  }
}

.text {
  margin-top: 30px;

  @include mx.b(desktop) {
    font-size: 16px;
  }

  @include mx.b(tablet) {
    max-width: 500px;
    font-size: 18px;
  }

  @include mx.b(mobile) {
    margin-top: 20px;
    max-width: 350px;
    font-size: 16px;
  }
}

.btns {
  --btn-padding: 15px 20px;
  margin-top: 70px;

  @include mx.b(desktop) {
    --btn-padding: 10px 15px;
    margin-top: 50px;
  }

  @include mx.b(tablet) {
    --btn-padding: 13px;

    display: flex;
    justify-content: center;

    width: 100%;
  }

  @include mx.b(mobile) {
    --btn-padding: 13px 10px;
    --btn-fz: 14px;

    gap: 10px;
    margin-top: 40px;
  }

  .btn {
    max-width: 210px;
    width: 100%;
    color: #fff;

    @include mx.b(desktop) {
      max-width: 180px;
    }

    @include mx.b(tablet) {
      max-width: 210px;
    }
  }
}

.img {
  width: 550px;
  max-width: none;
  height: auto;

  @include mx.b(desktop) {
    width: 450px;
  }

  @include mx.b(tablet) {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
  }
}
