@use "../../../../../styles/mixins/mixins.scss" as mx;

footer {
  padding-bottom: 20px;
}

.company-info {
  margin: 10px auto;
  width: 100%;
  text-align: center;
}

.company-info,
.company-info:before {
  background: linear-gradient(90deg, #ffffff30, #fff, #ffffff30);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.img {
  width: 100%;
  margin: 0 auto;
  margin-top: 80px;
}

.info-wrap {
  max-width: 650px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 50px;
  align-items: center;
  border-radius: 30px;
  border: 1px solid #29293f;
  background-color: #171721;
}

.links {
  width: 100%;
  justify-content: center;
  padding: 20px;
  border-top: 2px dashed #29293f;

  font-size: 14px;
}

.item {
  .title {
    color: #808095;
  }
}

.inner {
  width: 100%;
  justify-content: space-evenly;
  padding: 30px;
}
