<footer class="sc">
  <div class="container">
    <div class="info-wrap fl fl-dc g-20">
      <div class="inner fl fl-sbc g-30">
        <div class="item fl fl-dc fl-sbc g-10">
          <div class="title s-xs t-u">location</div>
          <div class="text fw-6 fz-xl op-6">Spain, GMT+1</div>
        </div>
        <div class="item fl fl-dc fl-sbc g-10">
          <div class="title s-xs t-u">Follow us</div>
          <div class="fl g-15">
            <a class="link" href="#">
              <ui-icon name="linkedinFill" size="40px" />
            </a>
            <a class="link" href="#">
              <ui-icon name="githubFill" size="40px" />
            </a>
            <a class="link" href="#">
              <ui-icon name="telegramFill" size="40px" />
            </a>
          </div>
        </div>
        <div class="item fl fl-dc fl-sbc g-10">
          <div class="title s-xs t-u">media about us</div>
          <div class="fl g-15">
            <a class="link" href="#">
              <ui-icon name="linkedinFill" size="40px" />
            </a>
            <a class="link" href="#">
              <ui-icon name="githubFill" size="40px" />
            </a>
            <a class="link" href="#">
              <ui-icon name="telegramFill" size="40px" />
            </a>
          </div>
        </div>
      </div>
      <div class="links fl fl-sbc g-30 m-t-20">
        <a href="#" class="link">Privacy Policy</a>
        <a href="#" class="link">Legal Notice</a>
        <a href="#" class="link">Terms of Service</a>
        <a href="#" class="link">Cookie Policy</a>
      </div>
    </div>
    <div class="info">
      <div class="callout-text m-b-20 m-auto t-c">
        Prices are exclusive of VAT. <br />
        EU B2B with valid VAT: reverse charge. Spain: +21% IVA.
      </div>
      <ui-callout>
        <span class="t-c fz-sm">
          All rights on this design and code are on Amary Filo Company. <br />
          All rights to use any of content in this domain are recieved.
        </span>
      </ui-callout>
      <div class="callout-text m-t-20 m-auto t-c">
        Created by Amary Filo © 2025
      </div>
    </div>
  </div>
  <img class="img" src="/assets/img/footer-text.svg" alt="" />
  <div class="company-info">
    Amary Filo (Autonomo, Spain), NIE: Y123456N, C/ Example 123, 460000,
    Valencia, Spain
  </div>
</footer>
