<section class="sc">
  <div class="container">
    <div class="section-head">
      <h2 class="title s-xxl">Our Solutions</h2>
      <span class="sub-text">
        Ready-made solutions you can choose right now.
      </span>
    </div>

    <div class="content fl fl-w g-30">
      @for (item of data; track $index) {
      <div class="item" [class]="'cl-g-' + item.color">
        <div class="top">
          <img
            [src]="'/assets/img/' + item.img"
            alt=""
            loading="lazy"
            width="100%"
            height="100%"
          />
        </div>
        <div class="item-content">
          <div class="head">
            <div class="fl fl-w g-10">
              <ui-icon [name]="item.icon" size="16px" />
              <h3 class="title fw-7 fz-xl">{{ item.title }}</h3>
            </div>
            <p class="subtext fz-sm fw-7 t-gr m-t-10">{{ item.subtext }}</p>
          </div>
          <div class="info">
            <p class="text op-8 fz-sm">{{ item.text }}</p>
            <div class="tips fl fl-sbc g-10 m-t-10">
              <div class="tip">
                <div class="title t-gr fw-7 fz-xs">From</div>
                <div class="tip-text fw-8 fz-sm">€{{ item.from }}+</div>
              </div>
              <div class="tip">
                <div class="title t-gr fw-7 fz-xs">Time</div>
                <div class="tip-text fw-8 fz-sm">{{ item.estimate }} weeks</div>
              </div>
              <div class="tip">
                <div class="title t-gr fw-7 fz-xs">Scope</div>
                <div class="tip-text fw-8 fz-sm">{{ item.scope }}</div>
              </div>
            </div>
          </div>
          <div class="buttons fl fl-dc g-10 m-t-10">
            <div [class]="'btn fw-7 fz-sm g-bg g-a cl-g-' + item.color">
              View details {{ item.hasDemo ? "& testnet demo" : "" }}
            </div>
          </div>
        </div>
      </div>
      }
    </div>

    <ui-info-block
      [title]="`Can't find your solutions?`"
      accent="It’s not a problem"
      text="just create your own brief with prepared tiers and add-ons."
      btnText="Create my own solution"
      color="purple-1"
      (btnClick)="goTo('brief')"
    />
  </div>
</section>
